<template>
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Data Kategori Inventaris</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Data Kategori Inventaris</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->


        <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Kategori Inventaris</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                           
                            <div class="col-md-12">
                                 <label>Info : </label><p>Data Kategori digunakan untuk mengkategorikan barang - barang Inventaris</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Category.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Isi dengan nama Kategori Inventaris yang diiginkan.</p>
                                        <p>2. Tombol Simpan untuk menyimpan data.</p>
                                        <p>3. Tombol Tutup untuk membatalkan pengisian data.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                     
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->


        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Kategori Inventaris</h3>
                    <div class="card-tools">
                        <button type="button" id="button" class="btn btn-success"  @click="newModal()" data-toggle="modal" data-target="#addNew">
                        Tambah
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-responsive">
                    <thead>                  
                        <tr>
                        <th style="width: 10px">#</th>
                        <th>Nama Kategori</th>
                        <th>Dibuat Tanggal</th>
                        <th>Diubah Tanggal</th>
                        <th style="width: 80px">Aksi</th>
                        </tr>
                    </thead>
                    <tbody v-if="categorys.from !=null">
                        <tr v-for="(category,i) in categorys.data" :key="category.id">
                        <td>{{i+1}}</td>                  
                        <td>{{category.kategori}}</td>
                        <td>{{category.created_at | myDateTime}}</td>
                        <td>{{category.updated_at  | myDateTime}}</td>
                        <td>
                            <a href="#" @click="editModal(category)" title="Ubah Data Kategori">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            <a href="#" @click="deleteCategory(category)" title="Hapus Data Kategori">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                        <td colspan="5"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <pagination :data="categorys" @pagination-change-page="getResults"></pagination>
              </div>
                </div>
            </div>
        </div>

        <div v-if="!$gate.isAdminorUser()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-  centered" role="document">
                <div class="modal-content">
                <div v-bind:class="{ 'modal-header bg-primary': !editmode, 'modal-header bg-warning': editmode }">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Tambah Kategori</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Ubah Info Kategori</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateCategory() : createCategory()">
                <div class="modal-body">
                     <div class="form-group">
                         <label for="Category"> Nama Kategori Inventaris</label>
                        <input v-model="form.kategori" type="text" name="kategori"
                            placeholder="Kategori Inventaris"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('kategori') }">
                        <has-error :form="form" field="kategori"></has-error>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Ubah</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Simpan</button>
                </div>

                </form>

                </div>
            </div>
            </div>
            
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                categorys : {},
                url_userGuide:'./img/user-guide/',
                form: new Form({
                    id:'',
                    kategori : ''
                })
            }
        }, 
        methods: {
            getResults(page = 1){
                axios.get('api/kategori?page=' + page)
                .then(response => {
                    this.categorys = response.data
                });
            },
            updateCategory(){
                this.$Progress.start();
                this.form.put('api/kategori/'+ this.form.id)
                .then(() => {
                    //success
                    $('#addNew').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Data informasi berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            editModal(category){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(category);  
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteCategory(category){
                Swal.fire({
                    title: 'Apakah Anda Yakin Menghapus Kategori ' + category.kategori + ' ?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!',
                    cancelButtonText: 'Batal'
                    }).then((result) => {

                        // Send request to the server
                        if(result.value){
                            this.form.delete('api/kategori/'+category.id).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
            loadCategorys(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/kategori").then(({ data }) => (this.categorys = data));
                    this.$Progress.finish();
                }
            },

            createCategory(){
                this.$Progress.start();
                this.form.post("api/kategori")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide') 
                    toast.fire({
                        type: 'success',
                        title: 'Kategori berhasil ditambahkan'
                    })
                this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
                 
            },
        },
        created() {
           this.loadCategorys();
           Fire.$on('AfterCreate',() => {
               this.loadCategorys();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }

    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
#user-guide{
    height: 85%;
    width: 85%;
}
</style>