<template>
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Dashboard Inventory</div>
                    <!-- Total Barang Inventory -->
                    <div class="card-body">
                       <div class="row">
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="fas fa-boxes"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Jumlah Barang Keseluruhan</span>
                                    <span class="info-box-number">{{items.items}}</span>
                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div v-if="$gate.isAdmin()" class="col-md-6 col-sm-6 col-12">
                                <div class="info-box">
                                <span class="info-box-icon bg-teal"><i class="fas fa-boxes"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Jumlah Barang di {{location}} </span>
                                    <span class="info-box-number">{{itemsOffices.items}}</span>
                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- Ketersediab Barang -->
                        <h5 class="mt-4 mb-2">Ketersediaan Barang</h5>
                        <div class="row">
                           
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-success">
                                <span class="info-box-icon"><i class="fas fa-warehouse"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Tersedia</span>
                                    <span v-if="$gate.isAdminorUser()" class="info-box-number"> Keseluruhan : {{items.available}}</span>
                                    <span v-if="$gate.isAdmin()" class="info-box-number"> {{location}} : {{itemsOffices.available}}</span>
                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-primary">
                                <span class="info-box-icon"><i class="fas fa-arrow-right nav-icon"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Dipinjam</span>
                                    <span v-if="$gate.isAdminorUser()" class="info-box-number"> Keseluruhan : {{items.rents}}</span>
                                    <span v-if="$gate.isAdmin()" class="info-box-number"> {{location}} : {{itemsOffices.rents}}</span>

                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-orange">
                                <span class="info-box-icon"><i class="fas fa-tools nav-icon"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Perbaikan</span>
                                    <span v-if="$gate.isAdminorUser()" class="info-box-number"> Keseluruhan : {{items.service}}</span>
                                    <span v-if="$gate.isAdmin()" class="info-box-number"> {{location}} : {{itemsOffices.service}}</span>

                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>

                        <!--Kondisi Barang  -->
                        <h5 class="mt-4 mb-2">Kondisi Barang</h5>
                        <div class="row">
                           
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-success">
                                <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Baik</span>
                                    <span v-if="$gate.isAdminorUser()" class="info-box-number"> Keseluruhan : {{items.goodItems}}</span>
                                    <span v-if="$gate.isAdmin()" class="info-box-number"> {{location}} : {{itemsOffices.goodItems}}</span>
                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-orange">
                                <span class="info-box-icon"><i class="fas fa-tools nav-icon"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Perbaikan</span>
                                    <span v-if="$gate.isAdminorUser()" class="info-box-number"> Keseluruhan : {{items.repaireItems}}</span>
                                    <span v-if="$gate.isAdmin()" class="info-box-number"> {{location}} : {{itemsOffices.repaireItems}}</span>

                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="info-box bg-danger">
                                <span class="info-box-icon"><i class="far fa-thumbs-down"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Rusak</span>
                                    <span v-if="$gate.isAdminorUser()" class="info-box-number"> Keseluruhan : {{items.brokeItems}}</span>
                                    <span v-if="$gate.isAdmin()" class="info-box-number"> {{location}} : {{itemsOffices.brokeItems}}</span>

                                </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- Testing -->
                        <h5 class="mt-4 mb-2">Statistik Barang</h5>
                        <div class="row ">
                              <div class="col-md-5 col-sm-6 col-12">
                               <!-- <bar-chart :chart-data="datacollection"></bar-chart> -->
                                <div class="card">
                                    <div class="card-header bg-success">
                                        <h3 class="card-title">Jumlah Barang Kantor Cabang</h3>
                                    </div>
                                <div class="card-body">
                                    <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                        <th>Kantor Cabang</th>
                                        <th>Kategori Barang</th>
                                        <th>Jenis Barang</th>
                                        <th style="width: 40px">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="statisticItemsOffice.data">
                                        <tr v-for="(statisticItemsOffice,i) in statisticItemsOffice.data" :key="statisticItemsOffice.id" >
                                        <td>{{statisticItemsOffice.kantor}}</td>
                                        <td>{{statisticItemsOffice.kategori}}</td>
                                        <td>{{statisticItemsOffice.jenis}}</td>
                                        <td>{{statisticItemsOffice.total}}</td>
                                        </tr>
                                        
                                    </tbody>
                                    <tbody v-else>
                                        <td colspan="5"><center>Tidak ada data yang ditemukan.</center></td>
                                    </tbody>
                                    </table>
                                </div>

                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <pagination :data="statisticItemsOffice" @pagination-change-page="getResultsItemsOffice"></pagination>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-12">
                               <!-- <bar-chart :chart-data="datacollection"></bar-chart> -->
                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <h4 class="card-title"> Barang Pinjam oleh Proyek</h4>
                                    </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <!-- <th style="width: 10px">#</th> -->
                                        <th>Nama Proyek</th>
                                        <th style="width: 40px">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="rentsItemsProject.data">
                                        <tr v-for="(rentsItemsProject,i) in rentsItemsProject.data" :key="rentsItemsProject.id" >
                                        <!-- <td>{{i+1}}</td> -->
                                        <td>{{rentsItemsProject.nama_proyek}}</td>
                                        <td>{{rentsItemsProject.total}}</td>
                                        </tr>
                                        
                                    </tbody>
                                    <tbody v-else>
                                        <td colspan="5"><center>Tidak ada data yang ditemukan.</center></td>
                                    </tbody>
                                    </table>
                                </div>

                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <pagination :data="rentsItemsProject" @pagination-change-page="getResultsrentsItemsProject"></pagination>
                                    </div>
                                </div>
                            </div>

                            <!-- Jumlah Barang berdsarkan Kategori -->
                            <div class="col-md-4 com-sm-6">

                                <div class="card">
                                    <div class="card-header bg-secondary">
                                        <h3 class="card-title">Jumlah Barang (Kategori)</h3>
                                    </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Kategori Barang</th>
                                        <th>Jenis Barang</th>
                                        <th style="width: 40px">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="statisticItems.data">
                                        <tr v-for="(statisticItems,i) in statisticItems.data" :key="statisticItems.id" >
                                        <td>{{i+1}}</td>
                                        <td>{{statisticItems.kategori}}</td>
                                        <td>
                                            {{statisticItems.jenis}}
                                        </td>
                                        <td>{{statisticItems.total}}</td>
                                        </tr>
                                        
                                    </tbody>
                                    <tbody v-else>
                                        <td colspan="5"><center>Tidak ada data yang ditemukan.</center></td>
                                    </tbody>
                                    </table>
                                </div>

                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <pagination :data="statisticItems" @pagination-change-page="getResults"></pagination>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BarChart from "../BarChart"

import LineChart from "../LineChart"
import DonutChart from "../DonutChart"
  export default {
    components: {
      BarChart,
      LineChart,
      DonutChart
    },
    data () {
      return {
        location:'',
        itemsOffices:{},
        datacollection: {},
        dataLine: {},
        dataDonut:{},
        items:{},
        statisticItems:{},
        rentsItemsProject:{},
        statisticItemsOffice:{},
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
        getResults(page = 1){
            axios.get('api/statisticItems?page=' + page)
            .then(response => {
                this.statisticItems = response.data
            });
        },
        getResultsrentsItemsProject(page = 1){
            axios.get('api/rentsItemsProject?page=' + page)
            .then(response => {
                this.rentsItemsProject = response.data
            });
        },
        getResultsItemsOffice(page = 1){
            axios.get('api/statisticItemsOffice?page=' + page)
            .then(response => {
                this.statisticItemsOffice = response.data
            });
        },
        loadDashboardItems(){
            if(this.$gate.isAdminorUser()){
                this.$Progress.start();
                axios.get("api/dashboardBarang").then(({ data }) => (this.items = data));
                this.$Progress.finish();
            }
        },
        loadDashboardItemsOffices(){
            if(this.$gate.isAdmin()){
                this.$Progress.start();
                axios.get("api/dashboardBarangByOffice").then(({ data }) => (this.itemsOffices = data));
                this.$Progress.finish();
            }
        },
        loadstatisticItems(){
            if(this.$gate.isAdminorUser()){
                this.$Progress.start();
                axios.get("api/statisticItems").then(({ data }) => (this.statisticItems = data));
                this.$Progress.finish();
            }
        },loadstatisticItemsByOffice(){
            if(this.$gate.isAdminorUser()){
                this.$Progress.start();
                axios.get("api/statisticItemsOffice").then(({ data }) => (this.statisticItemsOffice = data));
                this.$Progress.finish();
            }
        },
        loadrentsItemsProject(){
            if(this.$gate.isAdminorUser()){
                this.$Progress.start();
                axios.get("api/rentsItemsProject").then(({ data }) => (this.rentsItemsProject = data));
                this.$Progress.finish();
            }
        },
        loadUserLocation(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/adminoffice").then(({ data }) => (this.location = data));
                    this.$Progress.finish();
                }
            },
        fillData () {
        this.datacollection = {
            labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                {
                label               : 'Jumlah Barang',
                backgroundColor     : 'rgba(60,141,188,0.9)',
                borderColor         : 'rgba(60,141,188,0.8)',
                pointRadius          : false,
                pointColor          : '#3b8bba',
                pointStrokeColor    : 'rgba(60,141,188,1)',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data                : [28, 48, 40, 19, 86, 27, 90]
                },
            ]
        },
        this.dataLine = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                {
                label: 'Data One',
                backgroundColor: '#f87979',
                data: [40, 39, 10, 40, 39, 80, 40]
                }
            ]
        },

        this.dataDonut = {
                  labels: [
          'Chrome', 
          'IE',
          'FireFox', 
          'Safari', 
          'Opera', 
          'Navigator', 
      ],
      datasets: [
        {
          data: [700,500,400,600,300,100],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]

        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      },
    },
    created() {
        this.loadDashboardItems();
        this.loadstatisticItems();
        this.loadrentsItemsProject();
        this.loadUserLocation();
        this.loadDashboardItemsOffices();
        this.loadstatisticItemsByOffice();
    }
  }
</script>

