<template>
  <div class="container">
    <!-- Content Header (Page header) -->
    <form @submit.prevent="editmode ? updateBorrows():  createBorrows()" enctype="multipart/form-data">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Form Selesai Perbaikan Barang</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
              <li class="breadcrumb-item active">Form Selesai Perbaikan Barang</li>
            </ol>
          </div>
        </div>
   

    <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Selesai Perbaikan Barang Perbaikam</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Alur Kerja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <p class="lead mb-0">Alur Pengembalian Barang Perbaikan Inventaris</p>
                              <div class="row justify-content-center">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Fix-Items-Flow.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                           <div class="col-md-12">
                                 <label>Info : </label><p>Form Inventaris digunakan untuk pengisian data untuk surat perbaikam barang Inventaris</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Fix-Items.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Pilih Barang yang sedang dalam perbaikan.</p>
                                        <p>2. Pilih Kondisi Barang setelah perbaikan.</p>
                                        <p>3. Pilih Tanggal selesai perbaikan.</p>
                                        <p>4. Pilih Pihak Penanggung Jawab pada barang yang akan dikembalikan tersebut. (Jika nama belum tersedia maka harus didaftarkan dulu sebagi pengguna sistem)</p>
                                        <p>5. Pilih Pihak pembawa Barang pada barang yang akan dikembalikan tersebut. (Jika nama belum tersedia maka harus didaftarkan dulu sebagi pengguna sistem)</p>
                                        <p>6. Isian File upload Bukti Perbaikan Barang .</p>
                                        <p>7. Isian Keterangan tambahan mengenai Perbaikan Barang .</p>
                                        <p>8. Tombol Simpan untuk menyimpan data selesai perbaikan.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div v-bind:class="{'card card-primary' : !editmode, 'card card-warning' :editmode}">
            <div class="card-header">
              <h3 class="card-title" v-show="!editmode">Form Selesai Perbaikan Barang</h3>
              <h3 class="card-title" v-show="editmode">Form Pengubahan Data Selesai Perbaikan Barang</h3>
            </div>
            <div class="card-body">
           
               <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Data Barang Perbaikan</h3>
                        <h5>Kode Barang yang dipilih : {{this.form.barang}}</h5>
                        <input type="hidden" class="form-control"
                        :class="{ 'is-invalid': form.errors.has('barang') }">
                        <has-error :form="form" field="barang"></has-error>
                        <div class="card-tools">
                          <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" @keyup="searchit_child" v-model="searchITems" name="table_search" class="form-control float-right" placeholder="Cari Kode Barang">

                            <div class="input-group-append">
                              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Kode Barang</th>
                              <th>Nama Barang - Merk</th>
                              <th>Kategori Inventaris Barang</th>
                              <th>Jenis Barang</th>
                              <th>Kelengkapan</th>
                              <th>
                                  Pilih Semua
                                  <input type="checkbox" v-model="selectAll" @click="select">
                              </th>
                            </tr>
                          </thead>
                          <tbody v-if="items.data">
                          <tr  v-for="(items) in items.data" :key="items.kode_barang">
                            <td>{{items.kode_barang}}</td>
                            <td v-if = items.merk >
                              {{items.nama_barang}} - {{items.merk}}
                            </td>
                            <td v-else>
                                {{items.nama_barang}} -  Tanpa Merk
                            </td>
                            <td>{{items.kategori}}</td>
                            <td>{{items.jenis}}</td>
                            <td>{{items.kelengkapan}}</td>
                            <td>
                              <label class="form-checkbox">
                                <input type="checkbox" :value="items.kode_barang" v-model="form.barang">
                                <i class="form-icon"></i>
                              </label>
                            </td>
                          </tr>
                          </tbody>
                          <tbody v-else>
                            <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                        </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>
            <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                  <label for="inputStatus">Kondisi Barang</label>
                  <select v-model="form.status" name="status" id="status" class="form-control custom-select" 
                  :class="{ 'is-invalid': form.errors.has('status') }" >
                  <option value="">{{selectedStatus}}</option>
                  <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                      {{ optionStatu.status }}
                  </option>
                  </select>
              </div>

            <!-- Info Surat -->
            <div class="row">
              <div class="col-md-12">
                <label><u>Informasi </u></label>
                  <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <div >
                      <label for="inputClientCompany">Tanggal Selesai Perbaikan</label><span class="red"> (Wajib diisi)</span>
                      <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                      name="date"
                      id="date" v-model="form.tgl_pengembalian" inputClass="form-control"></datepicker>
                      </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <!-- End Info Surat -->

            <div class="row">
              <!-- Pihak Terkait -->
            <div class="col-md-12">
                <label><u>Pihak Terkait Perbaikan Barang </u></label>
                <div class="form-group">
                 <div class="row">
                   <div class="col-md-6">
                      <div>
                        <label for="inputProjectLeader" v-show="!editmode">Pihak Penanggung Jawab</label><span  v-show="!editmode" class="red"> (Wajib diisi)</span>
                        <label for="inputStatus"  v-show="editmode">Nama Penangung Jawab &nbsp: </label>
                        <label for="" class="tab"  v-show="editmode">{{valuePenanggungJawab}}</label><br v-show="editmode">
                        <label for="inputStatus" v-show="editmode">Pilih Pihak Penanggung Jawab</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                      <multiselect v-model="form.penanggung_jawab" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Penanggung Jawab" label="name" track-by="id">
                        <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                        </multiselect>
                        <has-error :form="form" field="penanggung_jawab"></has-error>
                      </div>
                    </div>
                     <div class="col-md-6">
                        <div>
                          <label for="inputProjectLeader" v-show="!editmode">Pihak Pembawa Barang</label><span class="red" v-show="!editmode"> (Wajib diisi)</span>
                          <label for="inputStatus"  v-show="editmode">Nama Pembawa Barang &nbsp: </label>
                          <label for="" class="tab"  v-show="editmode">{{valuePengembali}}</label><br v-show="editmode">
                          <label for="inputStatus" v-show="editmode">Pilih Pihak Pembawa Barang</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                        <multiselect v-model="form.pengembali_barang" :valueKeys="form.pengembali_barang" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Pembawa Barang" label="name" track-by="id">
                          <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                          </multiselect>
                          <has-error :form="form" field="pengembali_barang"></has-error>
                        </div>
                     </div>
                </div>
                </div>
            </div>
            </div>
            <!-- End Pihak Terkait -->

  <!-- Detail Perbaikan -->
            <div class="row">
              <div class="col-md-12">
                <label><u>Detail Selesai Perbaikan Barang </u></label>
                <div class="form-group">
                    <div>
                        <label for="inputFileBukti">File Bukti Perbaikan</label> <span class="red">(Wajib diupload berupa format PDF dengan ukuran maks 2 MB)</span>
                        <input type="file" @change="addFile" id="inputFileBukti" name="file_bukti" class="form-control"
                        :class="{ 'is-invalid': form.errors.has('file_bukti') }">
                    </div>
                    <div>
                      <label for="inputDescription">Keterangan Tambahan Tentang Perbaikan Barang</label><span class="black"> (Jika Ada)</span>
                      <textarea v-model="form.keterangan" id="inputDescription" class="form-control" rows="2" :class="{ 'is-invalid': form.errors.has('keterangan') }"></textarea>
                      <has-error :form="form" field="keterangan"></has-error>
                    </div>
               </div>
              </div>
              </div>
              </div>
            </div>
            </div>
            <!-- /.card-body -->
            
          </div>
          <!-- /.card -->
        </div>
      </div>

     

      <div class="row">
        <div class="col-12">
          <input type="submit" v-show="!editmode" value="Simpan Data Selesai Perbaikan" class="btn btn-success float-right">
          <input type="submit" v-show="editmode" value="Simpan Perubahan Data Selesai Perbaikan" class="btn btn-warning float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->

      </form>
  </div>
</template>

<script>

import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
    export default {
       props: ['id_header','edit_form', 'penanggungjawab_name', 'pengembali_name'],
    
        
        data(){
            return{
              valudID : this.id_header,
              valueEditForm: this.edit_form,
              valueProyek: this.proyek_name,
              valuePenanggungJawab: this.penanggungjawab_name,
              valuePengembali: this.pengembali_name,
              editmode: false,
              selectAll: false,
              selectedStatus: 'Semua Kondisi Barang',
              optionStatus:[
                  { status : 'Baik'},
                  { status: 'Perbaikan'},
                  { status: 'Rusak'},
                  { status: 'Hilang'}
              ],
              id: id,
              items: {},
              itemsRents: {},
              optionsUsers:[],
              searchITems: '',
              url_userGuide:'./img/user-guide/',
              form: new Form({
                status: '',
                keterangan: '',
                tgl_pengembalian: new Date(),
                penanggung_jawab: '',
                pengembali_barang: '',
                barang: [],
                file_bukti: '',
                keterangan: '',
              }),
             
            }
        },
        methods: {
          searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
          select() {
            this.form.barang = [];
            if (!this.selectAll) {
              for (let i in this.items.data) {
                this.form.barang.push(this.items.data[i].kode_barang);
              }
            }
          },
          customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.form.tgl_pengembalian = moment(date).format()
                return tanggal;
          },

           addFile(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && file['type'] === 'application/pdf'){
                    reader.onloadend = (file) => {
                        this.form.file_bukti = e.target.files[0];
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFileBukti").value = "";
                  Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload File Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },

         
          loadItems(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getDataBarangService").then(({ data }) => (this.items = data));
                }
          },
          loadUsers(){
              if(this.$gate.isAdminorUser()){
                  axios.get("api/getUser").then(({ data }) => (this.optionsUsers = data));
              }
          },createBorrows(){
              this.$Progress.start();
              let formData = new FormData();
              formData.append('barang', this.form.barang);
              formData.append('status', this.form.status);
              formData.append('tgl_pengembalian', this.form.tgl_pengembalian);
              formData.append('penanggung_jawab', this.form.penanggung_jawab.id);
              formData.append('pengembali_barang', this.form.pengembali_barang.id);
              formData.append('file_bukti', this.form.file_bukti);
              formData.append('keterangan', this.form.keterangan);

              let headers = {
                'Content-Type': 'multipart/form-data'
              };
              axios.post("api/perbaikanbarangkembali",formData,{
                 headers
              })
              .then(() => {
                  Fire.$emit('AfterCreate');
                  toast.fire({
                      icon: 'success',
                      title: 'Data Pengembalian Perbaikan Barang berhasil disimpan'
                  })
                  this.$Progress.finish();
                  this.$router.push({
                    path: '/riwayatselesaiperbaikan'
                });
              })
              .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan. Cek Kembali Form Isian Wajib", "warning");
              });
          },
           updateBorrows(){
                this.$Progress.start();
                this.form.put('api/perbaikanbarangkembali/'+ this.valudID)
                .then(() => {
                    //success
                    Fire.$emit('AfterCreate');
                    toast.fire({
                        icon: 'success',
                        title: 'Perubahan Data Pengembalian Perbaikan Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                    this.$router.push({
                      path: '/riwayatselesaiperbaikan'
                  });
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
     
              deleteItems(kode_barang){
                  Swal.fire({
                      title: 'Apakah Anda Yakin?',
                      text: "Anda tidak dapat membatalkan tindakan ini!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Ya hapus!',
                      cancelButtonText: 'Batal'
                      }).then((result) => {
                          // Send request to the server
                        if(result.value){
                          //console.log(result);
                        
                            this.form.delete('api/barangSelesaiPerbaikan/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data Barang berhasil dihapus dari Pengembalian Perbaikan Barang.',
                            'success'
                            )
                            Fire.$emit('AfterDeleteItem');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                      })
                  },
      },
      created(){
       
        this.loadUsers();
        this.loadItems();
        Fire.$on('AfterDeleteItem',() => {
            this.loadGetItemsRents()
            this.loadItems();
        });
        Fire.$on('searching-child',() => {
            this.$Progress.start();
            let query = this.searchITems;
            axios.get('api/findBarangService?q='+ query)
            .then((data) => {
                this.items = data;
            })
            .catch(() => {
                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
            })
            this.$Progress.finish();
            
        })
      }
    }
</script>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
.tab {
    position:absolute;left:250px;
}
.form-group {
  border-style : solid;
  border-color: #dee2e6;
  border-width: 2px;
  border-radius: 5px;
}
.center {
    text-align: center;
}

#user-guide{
    height: 85%;
    width: 85%;
}

</style>