<template>
    <div class="container">
         <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Riwayat Peminjaman Proyek</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Riwayat Peminjaman Proyek</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->
        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Riwayat Peminjaman Proyek</h3>
                   
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Proyek :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-ml" 
                                    placeholder="Cari Proyek" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" v-for="(items) in items.data" :key="items.id" >
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                           {{items.lokasi}}
                            </div>
                            <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-12">
                                <h2 class="lead"><b>{{items.nama_proyek}}</b></h2>
                                <p class="text-muted text-sm"><b>Jumlah Barang yang dipinjam Saat Ini : </b>{{items.jumlah}} </p>
                                 <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> Penanggung Jawab Proyek:<br> <b>{{items.penanggung_jawab}}</b></li>
                                </ul>
                                </div>
                                
                            </div>
                            </div>
                            <div class="card-footer">
                            <div class="text-right">
                                <a v-if="items.jumlah != 0" href="#"  @click="detailModal(items)" class="btn btn-sm btn-success " title="Detail Barang yang dipinjam" >
                                <i class="fas fa-eye"></i>
                                </a>
                                <a v-else href="#" class="btn btn-sm btn-success disabled" title="Detail Barang yang dipinjam">
                                <i class="fas fa-eye"></i>
                                </a>
                                
                                
                                <a href="#"  @click="detailHistoryModal(items)" class="btn btn-sm btn-primary">
                                <i class="fas fa-boxes"></i> Lihat Riwayat Peminjaman Barang
                                </a>
                            </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
              <div class="row">
                  <div v-if="items.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>

         <!-- modal detail -->
        <div class="modal fade" id="detailDataItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h4 class="modal-title"  id="detailsItems">Detail Informasi Data Peminjaman Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                    <h2><center><u>Daftar Barang Dipinjam</u></center></h2>
                
                  <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 20px">Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                       <th>Kategori</th>
                        <th>Jenis</th>
                      <th>Kelengkapan</th>
                      <th>Foto Barang</th>
                    </tr>
                  </thead>
                  <tbody v-if="Object.keys(detail).length != 0">
                    <tr v-for="(detail) in detail" :key="detail.id">
                      <td>{{detail.kode_barang}}</td>
                      <td>{{detail.nama_barang}} - {{detail.merk}}</td>
                      <td>{{detail.kategori}}</td>
                      <td>{{detail.jenis}}</td>
                      <td>{{detail.kelengkapan}}</td>
                      <td>
                          <div v-viewer class="images clearfix">
                            <img :src="getItemsPhoto(detail)" class="image">
                        </div>
                    </td>
                    </tr>
                   </tbody>
                    <tbody v-else>
                    <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                </table>
                </div>
                <div class="col-md-6">
                  
                </div>
                </div>
            
            </div>
            
            <div class="modal-footer ">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

       <!-- modal detail Riwayat -->
        <div class="modal fade" id="detailDataItemsHistory" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h4 class="modal-title"  id="detailsItems">Riwayat Peminjaman Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                       <h2><center><u>Riwayat Peminjaman Barang</u></center></h2>
                
                  <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>Tanggal Peminjaman</th>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kelengkapan</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody v-if="history.from != null">
                    <tr v-for="(history) in history.data">
                      <td>{{history.tgl_surat | myDate}}</td>
                      <td>{{history.kode_barang}}</td>
                      <td>{{history.nama_barang}} - {{history.merk}}</td>
                      <td>{{history.kelengkapan}}</td>
                     
                    <td v-if="history.dipinjam === 0">
                            <span data-toggle="tooltip" class="badge bg-green">Sudah Dikembalikan</span>
                    </td>
                    <td v-else-if="history.dipinjam === 1">
                        <span data-toggle="tooltip" class="badge bg-primary">Masih Dipinjam</span>
                    </td>
                    <td v-else>
                        <span data-toggle="tooltip" class="badge bg-orange">Dalam Perbaikan</span>
                    </td>
                    </tr>
                   </tbody>
                    <tbody v-else>
                    <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                </table>
                </div>
                <div class="col-md-6">
                  
                </div>
                </div>
                 <div class="row">
                  <div v-if="history.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{history.from}} sampai {{history.to}} dari {{history.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="history" @pagination-change-page="getResultsDetail"></pagination>
                     </div>
                     </div>
                </div>
            
            </div>
            
            <div class="modal-footer ">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      
    </div>
</template>

<script>
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
            return {        
                url_foto: './img/profile/', 
                detail:{},
                id:'',
                history:{},
                url_items: './img/items/',     
                items: {},
                searchITems: '',
                
            }
         },
         methods:{
            

           
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
           
             getResults(page = 1){
                axios.get('api/recapItemsProject?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },

            getResultsDetail(page = 1){
                axios.get('api/getHistoryPeminjamanProyek/'+this.id+'?page=' + page)
                .then(response => {
                    this.history = response.data
                });
            },

            detailModal(items){
                this.$Progress.start();
                axios.get("api/getDetailHistoryPeminjamanProyek/"+items.id).then(({ data }) => (this.detail = data)); 
                this.$Progress.finish();
                $('#detailDataItems').modal('show'); 
            },
            
            detailHistoryModal(items){
                this.$Progress.start();
                axios.get("api/getHistoryPeminjamanProyek/"+items.id).then(({ data }) => (this.history = data)); 
                this.$Progress.finish();
                this.id = items.id;
                $('#detailDataItemsHistory').modal('show'); 
            },

            getItemsPhoto(detail){
                let foto_barang = this.url_items+detail.foto_barang ;
                return foto_barang;
            },

           
            loadItems(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/recapItemsProject").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                console.log(query);
                axios.get('api/findrecapItemsProject?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findrecapItemsUser?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            this.loadItems();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-4-filter{
    position: relative;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.col-md-6-filter{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}


</style>