<template>
    <div class="container">
         <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Data Barang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Data Barang</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->


        <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Barang Inventaris</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Tabel Barang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <div class="col-md-12">
                                <label>Info : </label><p>Data Tabel Barang digunakan untuk menyimpan data barang - brang Inventaris pada gudang ke dalam sistem.</p>
                               <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Table-Items.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Tabel Barang Inventaris</p>
                                        <p>1. Untuk pengisian pencarian Nama Barang Inventaris.</p>
                                        <p>2. Filter pilihan kategori barang untuk menampilkan data barang berdasarkan kategori barang.</p>
                                        <p>3. Filter pilihan jenis barang untuk menampilkan data barang berdasarkan jenis barang.</p>
                                        <p>4. Filter pilihan kondisi barang untuk menampilkan data barang berdasarkan kondisi barang.</p>
                                        <p>5. Tombol Tambah untuk menampilkan form untuk penambahan data barang.</p>
                                        <p>6. Tombol Download Data Excel untuk export data barang ke dalam bentuk file Excel.</p>
                                        <p>7. Tombol Detail untuk melihat detail barang yang dipilih.</p>
                                        <p>8. Tombol Ubah untuk menampilkan form edit data barang pada barang yang dipilih.</p>
                                        <p>9. Tombol Hapus untuk menghapus data brang yang dipilih dari sistem.</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                           <div class="col-md-12">
                                <label>Info : </label><p>Data Tabel Barang digunakan untuk menyimpan data barang - brang Inventaris pada gudang ke dalam sistem.</p>
                               <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Form-Items.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Isian Kode Barang dengan kode unik untuk tiap barang.</p>
                                        <p>2. Isian untuk nama barang.</p>
                                        <p>3. Isian Merk barang apabila terdapat merk pada barang tersebut.</p>
                                        <p>4. Isian Kelengkapan barang diisi sesuai kelengkapan barang yang ada.</p>
                                        <p>5. Isian Input Foto Barang maksimal 2 MB dengan format file PNG atau JPEG.</p>
                                        <p>6. Pilih Kategori Invetaris pada barang tersebut.</p>
                                        <p>7. Pilih Jenis Barang pada barang tersebut.</p>
                                        <p>8. Pilih Status Kondisi pada barang tersebut.</p>
                                        <p>9. Isian Tanggal Pembelian diisi sesuai tanggal invoice barang.</p>
                                        <p>10. Isian Input File Invoice bukti pembelian barang tersebut maksimal 2 MB dengan format file JPEG atau PNG.</p>
                                        <p>11. Pilih Kantor Penyimpanan barang tersebut.</p>
                                        <p>12. Isian Keterangan pada barang tersebut apabila ada.</p>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->


        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Barang</h3>
                  <button type="button" id="no-print" v-if="$gate.isAdmin()" class="btn btn-success float-right"  @click="newItems()" data-toggle="modal" data-target="detailItems">
                      Tambah
                    </button>
                   <downloadexcel
                    id="no-print"
                    style="margin-right: 15px;"
                    class = "btn btn-primary float-right"
                    :fetch   = "fetchData"
                    :fields = "json_fields"
                    :before-generate = "startDownload"
                    :before-finish = "finishDownload"
                    type    = "xlsx"
                    name  = "Data Barang Invetaris.xlsx"
                    title= "Data Inventaris"
                    worksheet = "Inventaris Barang">
                    Download Data Excel
                  </downloadexcel>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Barang :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-xl" 
                                    placeholder="Cari Barang" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4-filter">
                                <label>Kategori Inventaris Barang : </label>
                                    <select class="form-control custom-select" @change="onFilter($event)" v-model="filter_kategori" name="kategori_id" id="kategori_id">
                                        <option value="">{{selectedCategorys}}</option>
                                        <option v-for="category in categorys" v-bind:key="category.id"  v-bind:value="category.id">
                                            {{ category.kategori }}
                                        </option>
                                    </select>
                        </div>
                        <div class="col-md-4-filter">
                                <label>Jenis Barang : </label>
                                    <select class="form-control custom-select" @change="onFilter($event)" v-model="filter_jenis" name="jenisbarang_id" id="jenisbarang_id">
                                        <option value="">{{selectedtypesItems}}</option>
                                        <option v-for="typesItem in typesItems" v-bind:key="typesItem.id" v-bind:value="typesItem.id">
                                            {{ typesItem.jenis }}
                                        </option>  
                                    </select>
                            
                        </div>
                        <div class="col-md-4-filter">
                                <label>Kondisi Barang : </label>
                                    <select class="form-control" style="width: 100%;" @change="onFilter($event)" v-model="filter_status" id="status">
                                        <option value="">{{selectedStatus}}</option>
                                        <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                                            {{ optionStatu.status }}
                                        </option>
                                    </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped dataTable" 
                            role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                            <th>Kode Barang</th>
                                <th>Nama Barang</th>
                                <th>Kategori Inventaris</th>
                                <th>Jenis Barang</th>
                                <th>Merk</th>
                                <th>Kondisi</th>
                                <th>Ketersediaan</th>
                                <th>Gudang Kantor</th>
                                <th>Dibuat Tanggal</th>
                                <th v-if="$gate.isAdmin()">QR Code</th>
                                <th id="no-print" style="width: 80px">Aksi</th>
                        </tr>
                        </thead>
                        <tbody v-if="items.from != null">
                        <tr  v-for="(items) in items.data" :key="items.id" role="row" class="odd">
                        <td class="sorting_1">{{items.kode_barang}}</td>
                        <td>{{items.nama_barang}}</td>
                        <td>{{items.kategori}}</td>
                        <td>{{items.jenis}}</td>
                        <td v-if = items.merk>
                            {{items.merk}}
                        </td>
                        <td v-else>
                            Tanpa Merk
                        </td>
                        <td v-if="items.status === 'Baik'">
                            <span data-toggle="tooltip" class="badge bg-green">{{items.status}}</span>
                        </td>
                        <td v-else-if="items.status === 'Perbaikan'">
                            <span data-toggle="tooltip" class="badge bg-orange">{{items.status}}</span>
                        </td>
                        <td v-else-if="items.status === 'Rusak'">
                            <span data-toggle="tooltip" class="badge bg-danger">{{items.status}}</span>
                        </td>   
                        <td v-else>
                            <span data-toggle="tooltip" class="badge bg-danger">{{items.status}}</span>
                        </td>
                        <td v-if="items.dipinjam === 0">
                            <span data-toggle="tooltip" class="badge bg-green">Tersedia</span>
                        </td>
                        <td v-else-if="items.dipinjam === 1">
                            <span data-toggle="tooltip" class="badge bg-primary">Sedang dipinjam</span>
                        </td>
                        <td v-else>
                            <span data-toggle="tooltip" class="badge bg-orange">Sedang dalam perbaikan</span>
                        </td>
                        <td>{{items.kantor}}</td>
                        <td>{{items.created_at | myDateTime}}</td>
                        <td v-if="$gate.isAdmin()"> <qrcode-vue :value="items.kode_barang" :size="100" level="H"></qrcode-vue></td>
                        <td id="no-print">
                                <a href="#" @click="detailModal(items)" title="Detail Data Barang">
                                    <i class="fa fa-eye cyan"></i>
                                </a>
                                <a v-if="$gate.isAdmin()" href="#" @click="editModal(items)" title="Ubah Data Barang">
                                    <i class="fa fa-edit blue"></i>
                                </a>
                                <a v-if="$gate.isAdmin()" href="#" @click="deleteItems(items.kode_barang)" title="Hapus Data Barang">
                                    <i class="fa fa-trash red"></i>
                                    
                                </a>
                        </td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                            <td colspan="11"><center>Tidak ada data yang ditemukan.</center></td>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    </div>
                </div>
              <div class="row">
                  <div v-if="items.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>


        <!-- modal detail -->
        <div class="modal fade" id="detailDataItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-ml">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h4 class="modal-title"  id="detailsItems">Detail Informasi Data Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
         <div class="modal-body">
             <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Data Barang</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Detail Info Barang</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" data-toggle="pill" href="#custom-tabs-three-settings" role="tab" aria-controls="custom-tabs-three-settings" aria-selected="false">Info Lainnya</a>
                </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent2">
                  <div class="tab-pane fade active show" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                   <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputKode">Kode Barang </label> <label for="" class="tab2">:</label>
                            <span class="tab">{{form.kode_barang}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nama Barang </label> <label for="" class="tab2">:</label>
                        <span class="tab">{{form.nama_barang}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Merk Barang </label> <label for="" class="tab2">:</label>
                            <span class="tab">{{form.merk}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputKelengkapan">Kelengkapan Barang </label> <label for="" class="tab2">:</label>
                            <br>
                            <span>{{form.kelengkapan}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputFoto">Foto Barang</label>
                            <div v-viewer class="images clearfix">
                            <img :src="url_foto+form.foto_barang" class="image">
                            </div>
                        </div>
                    </div>
                   </div>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                    <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputKategori">Kategori Inventaris Barang </label> <label for="" class="tab2">:</label>
                            <span class="tab">{{form.kategori}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputJenisBarang">Jenis Barang </label> <label for="" class="tab2">:</label>
                            <span class="tab">{{form.jenis}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Kondisi Barang </label> <label for="" class="tab2">:</label>
                            <span class="tab">{{form.status}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Tanggal Pembelian</label> <label for="" class="tab2">:</label>
                            <span class="tab">{{customFormatter(form.tgl_pembelian)}}</span>
                        </div>
                        <div class="form-group">
                            <label for="inputFileInvoice">File Invoice</label>
                            <div v-viewer class="images clearfix">
                            <img :src="url_invoice+form.file_invoice" class="image">
                            </div>
                        </div>
                     </div>
                    </div>
                </div>
                  <div class="tab-pane fade" id="custom-tabs-three-settings" role="tabpanel" aria-labelledby="custom-tabs-three-settings-tab">
                    <div class="form-group">
                        <label for="inputName">Gudang Kantor Penyimpan</label> <label for="" class="tab2">:</label>
                        <span class="tab">{{form.kantor}}</span>
                    </div>
                    <div class="form-group">
                    <label for="inputKeterangan">Keterangan </label> <label for="" class="tab2">:</label>
                    <br>
                    <span>{{form.keterangan}}</span>
                  </div>
                  </div>
                
                </div>
              </div>
              <!-- /.card -->
            </div>
 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

     <div class="modal fade" id="detailItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-ml">
          <div class="modal-content">
           <div v-bind:class="{ 'modal-header bg-primary': !editmode, 'modal-header bg-warning': editmode }">
              <h4 class="modal-title" v-show="!editmode" id="detailsItems">Tambah Informasi Data Barang</h4>
              <h4 class="modal-title" v-show="editmode" id="detailsItems">Update Informasi Data Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
           </div>
            <form @submit.prevent="editmode ? updateItems(): createItems()">
            <div class="modal-body">
             <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-item-tab" data-toggle="pill" href="#custom-tabs-three-item" role="tab" aria-controls="custom-tabs-three-item" aria-selected="true">Data Barang</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-detail-tab" data-toggle="pill" href="#custom-tabs-three-detail" role="tab" aria-controls="custom-tabs-three-detail" aria-selected="false">Detail Info Barang</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-other-tab" data-toggle="pill" href="#custom-tabs-three-other" role="tab" aria-controls="custom-tabs-three-other" aria-selected="false">Info Lainnya</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                  <div class="tab-pane fade active show" id="custom-tabs-three-item" role="tabpanel" aria-labelledby="custom-tabs-three-item-tab">
                   <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputKode" v-show="editmode">Kode Barang </label> <label for=""  v-show="editmode" class="tab2">:</label>
                            <span class="tab"  v-show="editmode">{{form.kode_barang}}</span>
                        
                            <label for="inputKode" v-show="!editmode">Kode Barang</label> <span v-show="!editmode" class="red">(Wajib diisi)</span>
                            <input v-model="form.kode_barang" v-show="!editmode" type="text" id="kode_barang" name="kode_barang" 
                            class="form-control" :class="{ 'is-invalid': form.errors.has('kode_barang') }" placeholder="Isi Kode Unik Barang">
                            <has-error :form="form" field="kode_barang"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nama Barang</label> <span class="red">(Wajib diisi)</span>
                            <input v-model="form.nama_barang" type="text" id="nama_barang" name="nama_barang" class="form-control" 
                            :class="{ 'is-invalid': form.errors.has('nama_barang') }" placeholder="Isi Nama Barang">
                            <has-error :form="form" field="nama_barang"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Merk Barang <i>(Apabila Ada)</i></label>
                            <input v-model="form.merk" type="text" id="merk" name="merk" class="form-control" 
                            :class="{ 'is-invalid': form.errors.has('merk') }" placeholder="Isi Merk Barang">
                            <has-error :form="form" field="merk"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="inputKelengkapan">Kelengkapan Barang</label>
                            <textarea v-model="form.kelengkapan" id="kelengkapan" name="kelengkapan" class="form-control" 
                            :class="{ 'is-invalid': form.errors.has('kelengkapan') }" rows="6"></textarea>
                            <has-error :form="form" field="kelengkapan"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="inputFoto">Foto Barang</label> <br><span class="red">(Wajib diupload berupa format JPEG atau PNG dengan ukuran maks 2 MB)</span>
                            <input type="file" @change="addPhoto" id="inputFoto" name="foto_barang" class="form-control"
                            :class="{ 'is-invalid': form.errors.has('foto_barang') }">
                            <has-error :form="form" field="foto_barang"></has-error>
                            <div  v-show="editmode" v-viewer class="images clearfix">
                            <img :src="getItemsPhoto()" class="image">
                            </div>
                        </div>
                    </div>
                   </div>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-detail" role="tabpanel" aria-labelledby="custom-tabs-three-detail-tab">
                    <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputKategori">Kategori Inventaris Barang</label>
                            <span>{{form.kategori}}</span>
                            <select v-model="form.kategori_id" class="form-control custom-select" name="kategori_id" id="kategori_id">
                            <option value="">{{selectedCategorys}}</option>
                            <option v-for="category in categorys" v-bind:key="category.id"  v-bind:value="category.id">
                                {{ category.kategori }}
                            </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputJenisBarang">Jenis Barang</label>
                            <select v-model="form.jenisbarang_id" class="form-control custom-select" name="jenisbarang_id" id="jenisbarang_id">
                            <option value="">{{selectedtypesItems}}</option>
                            <option v-for="typesItem in typesItems" v-bind:key="typesItem.id" v-bind:value="typesItem.id">
                                {{ typesItem.jenis }}
                            </option>  
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Status Barang</label>
                            <select v-model="form.status" name="status" id="status" class="form-control custom-select" 
                            :class="{ 'is-invalid': form.errors.has('status') }" >
                            <option value="">{{selectedStatus}}</option>
                            <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                                {{ optionStatu.status }}
                            </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputClientCompany">Tanggal Pembelian</label><span class="red"> (Wajib diisi)</span>
                            <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                            name="date"
                            id="date" v-model="form.tgl_pembelian" inputClass="form-control"></datepicker>
                        </div>
                        <div class="form-group">
                            <label for="inputFileInvoice">File Invoice</label> <br><span class="red">(Wajib diupload berupa format JPEG atau PNG dengan ukuran maks 2 MB)</span>
                            <input type="file" @change="addFile" id="inputFileInvoice" name="file_invoice" class="form-control"
                            :class="{ 'is-invalid': form.errors.has('file_invoice') }">
                            <div  v-show="editmode" v-viewer class="images clearfix">
                            <img :src="getItemsfile()" class="image">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                  <div class="tab-pane fade" id="custom-tabs-three-other" role="tabpanel" aria-labelledby="custom-tabs-three-other-tab">
                     <div class="form-group">
                        <label for="inputKategori">Pilih Kantor Penyimpanan</label>
                        <select v-model="form.kantor_id" class="form-control custom-select" name="kantor_id" id="kantor_id">
                        <option value="">{{selectedOffices}}</option>
                        <option v-for="office in offices" v-bind:key="office.id"  v-bind:value="office.id">
                            {{ office.kantor }}
                        </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputKeterangan">Keterangan <i>(Apabila Ada Keterangan Tambahan)</i></label>
                        <textarea v-model="form.keterangan" id="keterangan" name="keterangan" class="form-control" 
                        :class="{ 'is-invalid': form.errors.has('keterangan') }" rows="5"></textarea>
                        <has-error :form="form" field="keterangan"></has-error>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
              <button type="submit" v-show="!editmode" class="btn btn-primary">Simpan</button>
              <button type="submit" v-show="editmode" class="btn btn-success">Simpan Perubahan</button>
            </div>
            </form>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </div>
</template>

<script>
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
            return {              
                dateOfFront:'',
                editmode: false,
                url_userGuide:'./img/user-guide/',
                id: id,
                selectedStatus: 'Semua Kondisi Barang',
                optionStatus:[
                    { status : 'Baik'},
                    { status: 'Perbaikan'},
                    { status: 'Rusak'},
                    { status: 'Hilang'}
                ],
                selectedtypesItems: 'Semua Jenis barang',
                typesItems: {},
                selectedCategorys: 'Semua Kategori Inventaris',
                categorys: {},
                selectedOffices: 'Pilih Gudang Kantor',
                offices: {},
                items: {},
                form: new Form({
                    kode_barang:'',
                    nama_barang : '',
                    merk : '',
                    kategori_id:'',
                    kategori:'',
                    jenisbarang_id:'',
                    jenis: '',
                    kelengkapan : '',
                    status : '',
                    foto_barang : '',
                    file_invoice: '',
                    kantor_id:'',
                    kantor:'',
                    keterangan: '',
                    tgl_pembelian :'',
                }),
                searchITems: '',
                filter_kategori: '',
                filter_jenis: '',
                filter_status: '',
                url_foto: './img/items/',
                url_invoice: './img/invoice-items/',

                json_fields: {
                  'Kode Barang': 'kode_barang',
                  'Nama Barang': 'nama_barang',
                  'Kategori Inventaris': 'kategori',
                  'Jenis Barang': 'jenis',
                  'Merk': 'merk',
                  'Status Barang': 'status',
                  'Kelengkapan': 'kelengkapan',
                  'Gudang Kantor': 'kantor',
                  'Keterangan Tambahan': 'keterangan',
                },
            }
         },
         methods:{
            reset () {
                Object.assign(this.$data, this.$options.data());
             },
            async printme(){
              const response = await axios.get('api/items/export_excel')
                
            },
             async fetchData(){
                const response = await axios.get('api/getdataExcel')
                
                return response.data
            
            },
            startDownload(){
                this.$Progress.start();
            },
            finishDownload(){
                this.$Progress.finish();
            },

            customFormatter(date) {
                let dateeToFront =  moment(date).format('D MMMM YYYY');
                let tanggal =  new Date().toISOString().slice(0,10);
                this.form.pembelian = date;
              //  console.log(convert(date));
                this.dateOfFront = dateeToFront
                return dateeToFront;
            },
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            onFilter(event) {
                this.$Progress.start();
                let filter_kategori = document.getElementById('kategori_id').value;
                let filter_jenis = document.getElementById('jenisbarang_id').value;
                let filter_status = document.getElementById('status').value;
                if (filter_kategori == ''){
                    filter_kategori = 'all'
                }if (filter_jenis == ''){
                    filter_jenis = 'all'
                }if (filter_status == ''){
                    filter_status = 'all'
                }
                axios.get('api/filterBarang/'+ filter_kategori + '/' + filter_jenis + '/' +  filter_status)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
               
            },
             getResults(page = 1){
                axios.get('api/barang?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },
            loadTypeItems(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataJenisBarang").then(({ data }) => (this.typesItems = data));
                }
            },
            loadCategorys(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataKategoriInventaris").then(({ data }) => (this.categorys = data));
                }
            },
            loadOffices(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getKantor").then(({ data }) => (this.offices = data));
                }
            },
            loadItems(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/barang").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            newItems(){
                this.editmode = false;
                this.form.reset();
                $('#detailItems').modal('show');
            },
            editModal(items){
                this.editmode = true;
                $('#detailItems').modal('show');
                this.form.fill(items);  
            },
            updateItems(){
                this.$Progress.start();
                this.form.put('api/barang/'+ this.form.kode_barang)
                .then(() => {
                    //success
                    $('#detailItems').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Information data telah berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            detailModal(items){
                $('#detailDataItems').modal('show');
                this.form.fill(items);  
            },
            createItems(){
                this.$Progress.start();
                this.form.post("api/barang")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#detailItems').modal('hide'); 
                    toast.fire({
                        icon: 'success',
                        title: 'Data Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
            },
            addPhoto(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && (file['type'] === 'image/jpeg' || file['type'] === 'image/png')){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.foto_barang = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFoto").value = "";
                     Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload Foto Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },
            getItemsPhoto(){
                let foto_barang = (this.form.foto_barang.length > 100 )? this.form.foto_barang : this.url_foto+this.form.foto_barang ;
                return foto_barang;
            },
            addFile(e){
                let file = e.target.files[0];
                
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && (file['type'] === 'image/jpeg' || file['type'] === 'image/png')){
                    reader.onloadend = (file) => {
                        // console.log(reader.result);
                        this.form.file_invoice = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFileInvoice").value = "";
                  Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload File Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },
            getItemsfile(){
                let file_invoice = (this.form.file_invoice.length > 100 )? this.form.file_invoice : this.url_invoice+this.form.file_invoice ;
                return file_invoice;
            },
            deleteItems(kode_barang){
                Swal.fire({
                    title: 'Apakah Anda Yakin?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!',
                    cancelButtonText: 'Batal'
                    }).then((result) => {
                        // Send request to the server
                        if(result.value){
                          console.log(result);
                        
                            this.form.delete('api/barang/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                console.log(query);
                axios.get('api/findBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            this.loadTypeItems();
            this.loadCategorys();
            this.loadOffices();
            this.loadItems();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
                this.form.foto_barang ='';
                this.form.file_invoice=  '';
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-4-filter{
    position: relative;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}

.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}

#user-guide{
    height: 100%;
    width: 100%;
}

</style>