<template>
    <div class="container">
         <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Rekap Data Barang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Rekap Data Barang</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->
        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Rekap Data Barang</h3>

                   <button type="button" @click="print" class="btn btn-primary float-right" id="no-print">
                    <i class="fas fa-print"></i> Cetak
                  </button>
                  <downloadexcel
                    id="no-print"
                    class = "btn btn-success float-right"
                     style="margin-right: 15px;"
                    :fetch   = "fetchData"
                    :fields = "json_fields"
                    :before-generate = "startDownload"
                    :before-finish = "finishDownload"
                    type    = "xlsx"
                    name  = "Data Barang Invetaris.xlsx"
                    title= "Data Inventaris"
                    worksheet = "Inventaris Barang">
                    Download Data Excel
                   </downloadexcel>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Barang :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-xl" 
                                    placeholder="Cari Barang" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6-filter">
                            <label>Tanggal Awal Pembelian : </label>
                                <datepicker :format="formatDate" :bootstrap-styling="true" :clear-button="true" @cleared=" onFilter($event)" placeholder="0000-00-00"
                                name="date"
                                id="tgl_awal" v-model="tgl_awal" inputClass="form-control" @closed=" onFilter($event)"></datepicker>
                        
                        </div>
                        <div class="col-md-6-filter">
                            <label>Tanggal Akhir Pembelian : </label>
                                <datepicker :format="formatDate2" :bootstrap-styling="true" :clear-button="true" @cleared=" onFilter($event)" placeholder="0000-00-00"
                                name="date"
                                id="tgl_akhir" v-model="tgl_akhir" inputClass="form-control" @closed=" onFilter($event)"></datepicker>
                        </div>
                        <div class="col-md-4-filter">
                            <label>Kategori Inventaris Barang : </label>
                                <select class="form-control custom-select" @change="onFilter($event)" v-model="filter_kategori" name="kategori_id" id="kategori_id">
                                    <option value="">{{selectedCategorys}}</option>
                                    <option v-for="category in categorys" v-bind:key="category.id"  v-bind:value="category.id">
                                        {{ category.kategori }}
                                    </option>
                                </select>
                        </div>
                        <div class="col-md-4-filter">
                            <label>Jenis Barang : </label>
                                <select class="form-control custom-select" @change="onFilter($event)" v-model="filter_jenis" name="jenisbarang_id" id="jenisbarang_id">
                                    <option value="">{{selectedtypesItems}}</option>
                                    <option v-for="typesItem in typesItems" v-bind:key="typesItem.id" v-bind:value="typesItem.id">
                                        {{ typesItem.jenis }}
                                    </option>  
                                </select>
                            
                        </div>
                        <div class="col-md-4-filter">
                            <label>Kondisi Barang : </label>
                                <select class="form-control" style="width: 100%;" @change="onFilter($event)" v-model="filter_status" id="status">
                                    <option value="">{{selectedStatus}}</option>
                                    <option v-for="optionStatu in optionStatus" v-bind:key="optionStatu.status" v-bind:value="optionStatu.status">
                                        {{ optionStatu.status }}
                                    </option>
                                </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped dataTable" 
                        role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                            <th>Kategori Inventaris</th>
                            <th>Jenis Barang</th>
                            <th>Kode Barang</th>
                            <th>Nama Barang</th>
                            <th>Merk Barang</th>
                            <th>Kondisi</th>
                            <th>Ketersediaan</th>
                            <th>Peminjam</th>
                            <th>Penanggung Jawab Peminjaman</th>
                            <th>Dibeli Tanggal</th>
                           
                        </tr>
                        </thead>
                        <tbody v-if="items.from != null">
                        <tr  v-for="(items) in items.data" :key="items.id" role="row" class="odd">
                        <td>{{items.kategori}}</td>
                        <td>{{items.jenis}}</td>
                        <td class="sorting_1">{{items.kode_barang}}</td>
                        <td>{{items.nama_barang}}</td>
                        <td v-if = items.merk>
                            {{items.merk}}
                        </td>
                        <td v-else>
                            Tanpa Merk
                        </td>
                        <td v-if="items.status === 'Baik'">
                            <span data-toggle="tooltip" class="badge bg-green">{{items.status}}</span>
                        </td>
                        <td v-else-if="items.status === 'Perbaikan'">
                            <span data-toggle="tooltip" class="badge bg-orange">{{items.status}}</span>
                        </td>
                        <td v-else-if="items.status === 'Rusak'">
                            <span data-toggle="tooltip" class="badge bg-danger">{{items.status}}</span>
                        </td>   
                        <td v-else>
                            <span data-toggle="tooltip" class="badge bg-danger">{{items.status}}</span>
                        </td>
                        <td v-if="items.ketersediaan === 0">
                            <span data-toggle="tooltip" class="badge bg-green">Tersedia</span>
                        </td>
                        <td v-else-if="items.ketersediaan === 1">
                            <span data-toggle="tooltip" class="badge bg-primary">Sedang dipinjam</span>
                        </td>
                        <td v-else>
                            <span data-toggle="tooltip" class="badge bg-orange">Sedang dalam perbaikan</span>
                        </td>
                         <td>{{items.peminjam}}</td>
                          <td>{{items.penanggung_jawab}}</td>
                        <td>{{items.tgl_pembelian | myDate}}</td>
                        
                        </tr>
                        </tbody>
                        <tbody v-else>
                            <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    </div>
                </div>
              <div class="row">
                  <div v-if="items.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import moment from 'moment';
import Datepicker from 'vuejs-datepicker'
import {id} from 'vuejs-datepicker/dist/locale'
import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
            return {              
                dateOfFront:'',
                editmode: false,
                id: id,
                selectedStatus: 'Semua Kondisi Barang',
                optionStatus:[
                    { status : 'Baik'},
                    { status: 'Perbaikan'},
                    { status: 'Rusak'},
                    { status: 'Hilang'}
                ],
                selectedtypesItems: 'Semua Jenis barang',
                typesItems: {},
                selectedCategorys: 'Semua Kategori Inventaris',
                categorys: {},
                items: {},

                tgl_awal:'',
                tgl_akhir:'',
                
                searchITems: '',
                filter_kategori: '',
                filter_jenis: '',
                filter_status: '',

                json_fields: {
                  'Kategori Inventaris': 'kategori',
                  'Jenis Barang': 'jenis',
                  'Kode Barang': 'kode_barang',
                  'Nama Barang': 'nama_barang',
                  'Merk Barang': 'merk',
                  'Status Barang': 'status',
                  'Ketersediaan': 'ketersediaan',
                  'Peminjam Barang': 'peminjam',
                  'Penanggung Jawab Peminjaman': 'penanggung_jawab',
                  'Dibeli Tanggal': 'tgl_pembelian',
                },
            }
         },
         methods:{
            reset () {
                Object.assign(this.$data, this.$options.data());
             },
            async printme(){
              const response = await axios.get('api/items/export_excel')
                
            },
            print(){
                document.title = "Data Inventaris"; 
                this.$htmlToPaper('printArea');
            },
             async fetchData(){
                const response = await axios.get('api/getdataExcelRecap')
                
                return response.data
            
            },
            startDownload(){
                this.$Progress.start();
            },
            finishDownload(){
                this.$Progress.finish();
            },

            customFormatter(date) {
                let dateeToFront =  moment(date).format('D MMMM YYYY');
                let tanggal =  new Date().toISOString().slice(0,10);
                this.form.pembelian = date;
              //  console.log(convert(date));
                this.dateOfFront = dateeToFront
                return dateeToFront;
            },
             formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                let tanggal = [year, month, day].join('-')
                this.tgl_awal = tanggal
                return tanggal;
                //return [year, month, day].join('-');
            },formatDate2(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                let tanggal = [year, month, day].join('-')
                this.tgl_akhir = tanggal
                return tanggal;
                //return [year, month, day].join('-');
            },
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            onFilter(event) {
                this.$Progress.start();
                let tgl_awal='';
                 let tgl_akhir='';
                if(this.tgl_awal != ''){
                    tgl_awal = this.formatDate(this.tgl_awal);
                    console.log(tgl_awal)
                }
                if(this.tgl_akhir != ''){
                   tgl_akhir = this.formatDate2(this.tgl_akhir);
                }
                let filter_kategori = document.getElementById('kategori_id').value;
                let filter_jenis = document.getElementById('jenisbarang_id').value;
                let filter_status = document.getElementById('status').value;
                if (filter_kategori == ''){
                    filter_kategori = 'all'
                }if (filter_jenis == ''){
                    filter_jenis = 'all'
                }if (filter_status == ''){
                    filter_status = 'all'
                }

                if(tgl_awal == '' || tgl_awal == '1970-01-01'){
                    tgl_awal = 'all';
                }
                if(tgl_akhir == '' || tgl_akhir == '1970-01-01' ){
                    tgl_akhir = 'all';
                }
                
                axios.get('api/filterRekapBarang/'+ filter_kategori + '/' + filter_jenis + '/' +  filter_status + '/' +  tgl_awal + '/' +  tgl_akhir)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
               
            },
             getResults(page = 1){
                axios.get('api/recapItems?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },
            loadTypeItems(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataJenisBarang").then(({ data }) => (this.typesItems = data));
                }
            },
            loadCategorys(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataKategoriInventaris").then(({ data }) => (this.categorys = data));
                }
            },
            loadItems(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/recapItems").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                console.log(query);
                axios.get('api/findRekapBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findRekapBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            this.loadTypeItems();
            this.loadCategorys();
            this.loadItems();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-4-filter{
    position: relative;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.col-md-6-filter{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}


</style>