<template>
    <div class="container">
         <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Data Riwayat Barang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active"> Data Riwayat Barang</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->
        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Data Riwayat Barang</h3>
                 
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Barang :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-xl" 
                                    placeholder="Cari Barang" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped dataTable" 
                        role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                            <th>Kategori Inventaris</th>
                            <th>Jenis Barang</th>
                            <th>Kode Barang</th>
                            <th>Nama Barang</th>
                            <th>Riwayat Barang</th>
                           
                        </tr>
                        </thead>
                        <tbody v-if="items.from != null">
                        <tr  v-for="(items) in items.data" :key="items.id" role="row" class="odd">
                        <td>{{items.kategori}}</td>
                        <td>{{items.jenis}}</td>
                        <td class="sorting_1">{{items.kode_barang}}</td>
                        <td>{{items.nama_barang}}</td>
                        <td>
                            <a href="#"  @click="detailHistoryModal(items)" class="btn btn-sm btn-primary">
                                <i class="fas fa-boxes"></i> Lihat Riwayat Keseluruhan Barang
                            </a>
                        </td>
                        
                        </tr>
                        </tbody>
                        <tbody v-else>
                            <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    </div>
                </div>
              <div class="row">
                  <div v-if="items.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>

        <!-- modal detail Riwayat -->
        <div class="modal fade" id="detailDataItemsHistory" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h4 class="modal-title"  id="detailsItems">Riwayat Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                       <h2><center><u>Riwayat Barang</u></center></h2>
                
                  <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th>Tanggal Peminjaman</th>
                      <th>Kode Barang</th>
                      <th>Riwayat Barang</th>
                      <th>Aktifitas dilakukan Oleh</th>
                    </tr>
                  </thead>
                  <tbody v-if="history.from != null">
                    <tr v-for="(history) in history.data ">
                      <td>{{history.tanggal | myDate}}</td>
                      <td>{{history.kode_barang}}</td>
                      <td>{{history.riwayat}}</td>
                      <td>{{history.info_user}}</td>
                   
                    </tr>
                   </tbody>
                    <tbody v-else>
                    <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                </table>
                </div>
                <div class="col-md-6">
                  
                </div>
                </div>
                  <div class="row">
                  <div v-if="history.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{history.from}} sampai {{history.to}} dari {{history.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="history" @pagination-change-page="getResultsDetail"></pagination>
                     </div>
                     </div>
                </div>
            
            </div>
            
            <div class="modal-footer ">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </div>
</template>

<script>
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import moment from 'moment';
import Datepicker from 'vuejs-datepicker'
import {id} from 'vuejs-datepicker/dist/locale'
import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
            return {              
                dateOfFront:'',
                editmode: false,
                id: id,
                kode_barang:'',
                items: {},
                history:{},

                searchITems: '',
               
            }
         },
         methods:{
          

           
           
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            getResults(page = 1){
                axios.get('api/recapItems?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },getResultsDetail(page = 1){
                axios.get('api/recapHistoryItems/'+this.kode_barang+'?page=' + page)
                .then(response => {
                    this.history = response.data
                });
            },
            detailHistoryModal(items){
                this.$Progress.start();
                axios.get("api/recapHistoryItems/"+items.kode_barang).then(({ data }) => (this.history = data)); 
                this.$Progress.finish();
                this.kode_barang = items.kode_barang;
                $('#detailDataItemsHistory').modal('show'); 
            },


            loadItems(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/recapItems").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                console.log(query);
                axios.get('api/findRekapBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findRekapBarang?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            this.loadItems();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-4-filter{
    position: relative;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.col-md-6-filter{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}


</style>