<template>
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Aktifitas Log Sistem</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Aktifitas Log Sistem</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->
        <div class="row justify-content-center">
            <div class="table-responsive">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Aktifitas Log Sistem</h3>
                    <div class="card-tools">
                      
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                    
                     <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Aktifitas :
                                    <input @keyup="searchit_child" v-model="searchLogs" type="search" class="form-control form-control-xl" 
                                    placeholder="Cari Aktifitas" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                          <div class="col-md-6-filter">
                            <label>Tanggal Awal Aktifitas : </label>
                                <datepicker :format="formatDate" :bootstrap-styling="true" :clear-button="true" @cleared=" onFilter($event)" placeholder="0000-00-00"
                                name="date"
                                id="tgl_awal" v-model="tgl_awal" inputClass="form-control" @closed=" onFilter($event)"></datepicker>
                        
                        </div>
                        <div class="col-md-6-filter">
                            <label>Tanggal Akhir Aktifitas : </label>
                                <datepicker :format="formatDate2" :bootstrap-styling="true" :clear-button="true" @cleared=" onFilter($event)" placeholder="0000-00-00"
                                name="date"
                                id="tgl_akhir" v-model="tgl_akhir" inputClass="form-control" @closed=" onFilter($event)"></datepicker>
                        </div>
                    </div>
                    <table class="table table-bordered">
                    <thead>                  
                        <tr>
                        <!-- <th style="width: 10px">#</th> -->
                        <th>Aktifitas</th>
                        <th>URL</th>
                        <th>Method</th>
                        <th>Alamat IP</th>
                        <th>User Agent</th>
                        <th>User</th>
                        <th>Waktu Aktifitas</th>
                        <!-- <th style="width: 80px">Aksi</th> -->
                        </tr>
                    </thead>
                    <tbody v-if="logs.from !=null">
                        <tr v-for="(logs,i) in logs.data" :key="logs.id">
                        <!-- <td>{{i+1}}</td>                   -->
                        <td>{{logs.subject}}</td>  
                        <td>{{logs.url}}</td> 
                       <td>{{logs.method}}</td> 
                        <td>{{logs.ip}}</td> 
                        <td>{{logs.agent}}</td>
                        <td>{{logs.name }}</td>
                        <td>{{logs.created_at | myDateTime}}</td>
                        <!-- <td>
                          <a href="#" @click="deleteOffice(logs)" title="Hapus Data Log">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </td> -->
                    </tr>
                    </tbody>
                    <tbody v-else>
                        <td colspan="8"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <pagination :data="logs" @pagination-change-page="getResults"></pagination>
              </div>
                </div>
            </div>
            </div>
        </div>

          <div v-if="!$gate.isAdminorUser()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-  centered" role="document">
                <div class="modal-content">
                <div v-bind:class="{ 'modal-header bg-primary': !editmode, 'modal-header bg-warning': editmode }">
                   <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Tambah Kantor</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Ubah Info Kantor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateOffice() : createOffice()">
                <div class="modal-body">
                     <div class="form-group">
                        <input v-model="form.kantor" type="text" name="kantor"
                            placeholder="Kantor"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('kantor') }">
                        <has-error :form="form" field="kantor"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.alamat" type="text" name="lokasi"
                            placeholder="Alamat Kantor"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('alamat') }">
                        <has-error :form="form" field="alamat"></has-error>
                    </div>
                    <div class="form-group">
                        <input v-model="form.kota" type="text" name="kota"
                            placeholder="Kota"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('kota') }">
                        <has-error :form="form" field="kota"></has-error>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Ubah</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Simpan</button>
                </div>

                </form>

                </div>
            </div>
            </div>
            
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                logs : {},
                searchLogs: '',
                tgl_awal:'',
                tgl_akhir:'',
                form: new Form({
                    id:'',
                    kantor : '',
                    alamat : '',
                    kota : ''
                })
            }
        }, 
        methods: {
            getResults(page = 1){
                axios.get('api/logActivity?page=' + page)
                .then(response => {
                    this.logs = response.data
                });
            },
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            
            formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                let tanggal = [year, month, day].join('-')
                this.tgl_awal = tanggal
                return tanggal;
                //return [year, month, day].join('-');
            },formatDate2(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                let tanggal = [year, month, day].join('-')
                this.tgl_akhir = tanggal
                return tanggal;
                //return [year, month, day].join('-');
            },

            onFilter(event) {
                this.$Progress.start();
                let tgl_awal='';
                 let tgl_akhir='';
                if(this.tgl_awal != ''){
                    tgl_awal = this.formatDate(this.tgl_awal);
                    console.log(tgl_awal)
                }
                if(this.tgl_akhir != ''){
                   tgl_akhir = this.formatDate2(this.tgl_akhir);
                }
               

                if(tgl_awal == '' || tgl_awal == '1970-01-01'){
                    tgl_awal = 'all';
                }
                if(tgl_akhir == '' || tgl_akhir == '1970-01-01' ){
                    tgl_akhir = 'all';
                }
                
                axios.get('api/filterLog/'+ tgl_awal + '/' +  tgl_akhir)
                .then((data) => {
                    this.logs = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
               
            },
            
           
            loadLogs(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/logActivity").then(({ data }) => (this.logs = data));
                    this.$Progress.finish();
                }
            },

            createOffice(){
                this.$Progress.start();
                this.form.post("api/kantor")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide') 
                    toast.fire({
                        type: 'success',
                        title: 'Kantor berhasil ditambahkan'
                    })
                this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
                 
            },
        },
        created() {
              Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchLogs;
                console.log(query);
                axios.get('api/findLogs?q='+ query)
                .then((data) => {
                    this.logs = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                console.log(query);
                axios.get('api/findLogs?q='+ query)
                .then((data) => {
                    this.logs = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })

           this.loadLogs();
           Fire.$on('AfterCreate',() => {
               this.loadLogs();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }

    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}

.col-md-6-filter{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
</style>