<template>
    <div class="content" style="min-height: 1416.81px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cetak Bukti Surat Jalan Pengiriman Barang</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
              <li class="breadcrumb-item active">Bukti Surat Jalan Pengiriman Barang</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Catatan   :</h5>
              Halaman khusus untuk dicetak. Klik tombol cetak di bagian bawah untuk mencetak.
            </div>

            <!-- Main content -->
            <div class="invoice p-3 mb-3" id="printArea" v-for="(header) in dataprint.header_pengiriman" :key="header.kode_barang" >
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Multi Inventory.
                    <small class="float-right">Tanggal : {{customFormatter(header.tgl_surat)}}</small>
                  </h4>
                  <h2><center><u>Bukti Pengiriman Barang</u></center></h2>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-8 invoice-col">
                   <b>Ke Kantor Cabang </b> <span class="tab"> : {{header.kantor}}</span><br><br>
                   <b>Keterangan Keperluan Pengiriman </b><span class="tab"> : {{header.keterangan}}</span><br><br><br>
                   <b>Pihak Penerima </b> <span class="tab"> : {{header.penerima}}</span><br><br>
                   <b>Pihak Pengirim </b> <span class="tab"> : {{header.pengirim}}</span><br><br>
                    <!-- <table class="table">
                      <tbody><tr>
                        <th style="width:50%">Nama Proyek <span class="tab">:</span></th>
                        <td>{{header.nama_proyek}}</td>
                      </tr>
                      <tr>
                        <th>Keterangan Peminjaman <span class="tab">:</span></th>
                        <td>{{header.keterangan}}</td>
                      </tr>
                      <tr>
                        <th>Pihak Penanggung Jawab<span class="tab">:</span></th>
                        <td>{{header.penanggungjawab}}</td>
                      </tr>
                      <tr>
                        <th>Pihak Meminjam<span class="tab">:</span></th>
                        <td>{{header.peminjam}}</td>
                      </tr>
                    </tbody></table> -->
                  
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  
                  <b>Nomor Surat <span class="tab2"> : {{header.nomor_surat}}</span></b><br>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">

                <h5><strong> Barang yang dikirim :</strong></h5>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  v-for="(items) in dataprint.detail_pengiriman" :key="items.kode_barang" >
                      <td>{{items.kode_barang}}</td>
                      <td>{{items.nama_barang}} - {{items.merk}}</td>
                      <td>{{items.kategori}}</td>
                      <td>{{items.jenis}}</td>
                      <td>{{items.kelengkapan}}</td>
                    </tr>
                   </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">Jumlah Barang yang dipinjam : {{dataprint.detail_pengiriman.length}}</p>
                </div>
                <div class="col-12">
                    <p>Dengan ini menyatakan bahwa saya sebagai pihak pengiriman yang bertanda tangan dibawah ini akan bertanggung jawab penuh atas kelengkapan
                     dan kondisi terhadap barang yang tertulis di atas selama masa pengiriman hingga sampai tujuan.</p>
                </div>
                <!-- /.col -->
                
                <!-- /.col -->
              </div>

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <strong><center>Pihak Administrasi Gudang </center></strong>
                  <br><br><br><br><br><br>
                    <strong><u><center>{{header.admin}}</center></u></strong><br>
                </div>
                <!-- /.col -->
                 <div class="col-6">
                  <strong><center>Pihak Pengirim Barang </center></strong>
                  <br><br><br><br><br><br>
                    <strong><u><center> {{header.pengirim}}</center></u></strong><br>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
             
            </div>
            <!-- /.invoice -->
             <div class="row no-print">
                <div class="col-12">
                  <button type="button" @click.prevent="print" class="btn btn-primary float-right" style="margin-right: 5px;" id="no-print">
                    <i class="fas fa-print"></i> Cetak
                  </button>
                </div>
              </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</template>

<script>

import moment from 'moment';
import 'moment/locale/id';
import Vue from 'vue';
import VueHtmlToPaper from 'vue-html-to-paper';
const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
  ],
  styles: [
    '/css/app.css',
    
  ]
}

Vue.use(VueHtmlToPaper, options);
    export default {
        props: ['nomor_surat'],
        data () {
          console.log(nomor_surat.value)
            return {
              value_nomor_surat: nomor_surat.value, // you cannot use the same name as declared for props
              dataprint:''
            }
        },
        created() {
            this.loadData();
        },
        methods:{
            loadData(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get('api/getDataPengiriman/'+ this.value_nomor_surat).then(({ data }) => (this.dataprint = data));
                    this.$Progress.finish();
                }
            },
            printme(){
                document.title = "Form Surat Jalan Pengiriman Barang No "+ this.value_nomor_surat; 
                window.print();
            },
             print(){
                document.title = "Form Surat Jalan Pengiriman Barang No "+ this.value_nomor_surat; 
                this.$htmlToPaper('printArea');
            },
            customFormatter(date) {
                moment.locale('id');
                let tanggal =  moment(date).format('D MMMM YYYY');
               return tanggal;
          },
        }
    }
</script>


<style scoped>

.tab {
    position:absolute;left:250px;
}

.tab2 {
    position:absolute;left:150px;
}
.float-right {
  float: right !important;
  position:absolute;right:20px
}

.table th, .table td {
    padding: 0.2rem;
    padding-top: 0.5rem;
    padding-right: 0.2rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    border-top: 0px solid #176ec5;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: rgb(23, 110, 197);
}
</style>