<template>
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Data Referensi Nomor Surat</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Data Referensi Nomor Surat</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->

         <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Kategori Inventaris</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                               
                            <div class="col-md-12">
                                 <label>Info : </label><p>Data Referensi Surat digunakan untuk referensi nomor surat yang akan dibuat automatis sesuai format referensi pada data Referensi Surat ini.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Reference.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Pilih Kategori Surat Inventaris seperti Peminjaman, Pengembalian, Perbaikan, Permintaan dan Pengiriman Barang Inventaris.</p>
                                        <p>2. Isi dengan Kode Surat untuk Kategori yang telah dipilih tersebut.</p>
                                        <p>3. Isi dengan nama Unit yang mengeluarkan surat tersebut.</p>
                                        <p>4. Tombol Simpan untuk menyimpan data.</p>
                                        <p>5. Tombol Tutup untuk membatalkan pengisian data.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                     
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Referensi Nomor Surat</h3>
                    <div class="card-tools">
                        <button type="button" id="button" class="btn btn-success"  @click="newModal()" data-toggle="modal" data-target="#addNew">
                        Tambah
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-responsive">
                    <thead>                  
                        <tr>
                        <th style="width: 10px">#</th>
                        <th>Kategori Surat</th>
                        <th>Kode Surat</th>
                        <th>Unit Yang Mengeluarkan Surat</th>
                        <th>Dibuat Tanggal</th>
                        <th>Diubah Tanggal</th>
                        <th style="width: 80px">Aksi</th>
                        </tr>
                    </thead>
                    <tbody v-if="referencenumber.from !=null">
                        <tr v-for="(referencenumber,i) in referencenumber.data" :key="referencenumber.id">
                        <td>{{i+1}}</td>                  
                        <td>{{referencenumber.kategori_surat}}</td>
                        <td>{{referencenumber.kode_surat}}</td>
                        <td>{{referencenumber.unit_surat}}</td>
                        <td>{{referencenumber.created_at | myDateTime}}</td>
                        <td>{{referencenumber.updated_at  | myDateTime}}</td>
                        <td>
                            <a href="#" @click="editModal(referencenumber)" title="Ubah Data Kategori">
                                <i class="fa fa-edit blue"></i>
                            </a>
                            <a href="#" @click="deleteReferenceNumber(referencenumber)" title="Hapus Data Kategori">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                        <td colspan="7"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <pagination :data="referencenumber" @pagination-change-page="getResults"></pagination>
              </div>
                </div>
            </div>
        </div>

        <div v-if="!$gate.isAdminorUser()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-  centered" role="document">
                <div class="modal-content">
                <div v-bind:class="{ 'modal-header bg-primary': !editmode, 'modal-header bg-warning': editmode }">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Tambah Nomor Surat</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Ubah Info Nomor Surat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateReferenceNumber() : createReferenceNumber()">
                <div class="modal-body">

                        <label>Format Surat : Urutan.Kode Surat-Unit-Bulan-Tahun</label>
                        <p>Contoh: <i>006.SPB-Multi-02-2020</i></p><br>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inputKategori">Pilih Kategori Surat</label>
                                <select v-model="form.kategori_surat" name="kategori_surat" id="kategori_surat" class="form-control custom-select" 
                                :class="{ 'is-invalid': form.errors.has('kategori_surat') }" >
                                <option value="">{{selectedKategori}}</option>
                                <option v-for="optionKategori in optionKategori" v-bind:key="optionKategori.kategori_surat" v-bind:value="optionKategori.kategori_surat">
                                    {{ optionKategori.kategori_surat }}
                                </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inputKodeSurat">Kode Surat</label>
                                <input v-model="form.kode_surat" type="text" name="kode_surat"
                                    placeholder="Isi Kode Surat Untuk Kategori"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('kode_surat') }">
                                <has-error :form="form" field="kode_surat"></has-error>
                            </div>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="inputUnitSurat">Unit yang Mengeluarkan Surat</label>
                        <input v-model="form.unit_surat" type="text" name="unit_surat"
                            placeholder="Isi Unit yang mengeluarkan surat"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('unit_surat') }">
                        <has-error :form="form" field="unit_surat"></has-error>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Ubah</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Simpan</button>
                </div>

                </form>

                </div>
            </div>
            </div>
            
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                url_userGuide:'./img/user-guide/',
                selectedKategori: 'Pilih Kategori Surat',
                optionKategori:[
                    { kategori_surat : 'Peminjaman Barang'},
                    { kategori_surat: 'Pengembalian Barang'},
                    { kategori_surat: 'Perbaikan Barang'},
                    { kategori_surat: 'Permintaan Barang'},
                    { kategori_surat: 'Pengiriman Barang'}
                ],
                referencenumber : {},
                form: new Form({
                    id:'',
                    kategori_surat : '',
                    kode_surat: '',
                    unit_surat:'',
                })
            }
        }, 
        methods: {
            getResults(page = 1){
                axios.get('api/nomorsurat?page=' + page)
                .then(response => {
                    this.referencenumber = response.data
                });
            },
            updateReferenceNumber(){
                this.$Progress.start();
                this.form.put('api/nomorsurat/'+ this.form.id)
                .then(() => {
                    //success
                    $('#addNew').modal('hide');
                    Swal.fire(
                            'Diubah!',
                            'Data Referensi Nomor Surat berhasil diubah.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            editModal(referencenumber){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(referencenumber);  
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteReferenceNumber(referencenumber){
                Swal.fire({
                    title: 'Apakah Anda Yakin Menghapus Referensi Nomir Surat ' + referencenumber.kategori_surat + ' ?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!',
                    cancelButtonText: 'Batal'
                    }).then((result) => {

                        // Send request to the server
                        if(result.value){
                            this.form.delete('api/nomorsurat/'+referencenumber.id).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
            loadReferenceNumber(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/nomorsurat").then(({ data }) => (this.referencenumber = data));
                    this.$Progress.finish();
                }
            },

            createReferenceNumber(){
                this.$Progress.start();
                this.form.post("api/nomorsurat")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide') 
                    toast.fire({
                        type: 'success',
                        title: 'Referensi Nomor Surat berhasil ditambahkan'
                    })
                this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
                 
            },
        },
        created() {
           this.loadReferenceNumber();
           Fire.$on('AfterCreate',() => {
               this.loadReferenceNumber();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }

    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
#user-guide{
    height: 85%;
    width: 85%;
}
</style>