<template>
    <div class="container">
         <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Riwayat Permintaan Inventaris</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Riwayat Permintaan Inventaris</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->


         <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Data Riwayat Surat Permintaan Barang</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Alur Kerja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <p class="lead mb-0">Alur Permintaan Barang Inventaris</p>
                              <div class="row justify-content-center">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Request-Items-Flow.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                           <div class="col-md-12">
                                 <label>Info : </label><p>Tabel Riwayat Permintaan digunakan untuk melihat data surat permintaan barang Inventaris</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Request-Items-Table.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Untuk pengisian pencarian nomor surat permintaan.</p>
                                        <p>2. Filter pilihan tanggal awal untuk menampilkan data surat permintaan barang berdasarkan range tanggal pembuatan data surat permintaan.</p>
                                        <p>3. Filter pilihan tanggal akhir untuk menampilkan data surat permintaan barang berdasarkan range tanggal pembuatan data surat permintaan.</p>
                                        <p>4. Tombol Cetak untuk mencetak data surat permintaan barang.</p>
                                        <p>5. Tombol Detail untuk melihat detail barang yang diminta berdasarkan surat permintaan yang dipilih.</p>
                                        <p>6. Tombol Ubah untuk menampilkan form edit pada data surat permintaan yang dipilih. <code>(*)</code></p>
                                        <p>7. Tombol Hapus untuk menghapus data surat permintaan yang dipilih dari sistem. <code>(*)</code></p>
                                        <p><code>(*)</code>Hanya user yang membuat surat permintaan itu yang dapat melakukan aksi tersebut.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->



        <div class="row justify-content-center">
             <div class="col-md-12" id="printArea">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Permintaan Barang {{def_tgl_awal}} hingga {{def_tgl_akhir}}</h3>
                    <button id="no-print" type="button" @click.prevent="print" class="btn btn-primary float-right">
                     <i class="fas fa-print"></i> Cetak
                    </button>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row" id="no-print">
                        <div class="col-sm-12 col-md-12">
                            <div id="example1_filter" class="dataTables_filter">
                                <label>Cari Permintaan Barang :
                                    <input @keyup="searchit_child" v-model="searchITems" type="search" class="form-control form-control-xl" 
                                    placeholder="Cari Nomor Surat" aria-controls="example1">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6-filter">
                                <label>Tanggal Awal : </label>
                                   <datepicker :format="formatDate" :bootstrap-styling="true"
                                    name="date"
                                    id="tgl_awal" v-model="tgl_awal" inputClass="form-control" @closed="onSelected"></datepicker>
                            
                        </div>
                        <div class="col-md-6-filter">
                                <label>Tanggal Akhir : </label>
                                   <datepicker :format="formatDate2" :bootstrap-styling="true"
                                    name="date"
                                    id="tgl_akhir" v-model="tgl_akhir" inputClass="form-control" @closed="onSelected"></datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" 
                            role="grid" aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th>Nomor Surat</th>
                    <th>Tanggal Peminjaman</th>
                    <th>Kantor Dituju</th>
                    <th>Admin</th>
                    <th>Keterangan</th>
                    <th>Status</th>
                    <th>Dibuat Tanggal</th>
                    <th id="no-print">Validasi</th>
                    <th id="no-print" style="width: 80px">Aksi</th>
                </tr>
                </thead>
                <tbody v-if="items.from != null">
                <tr  v-for="(items) in items.data" :key="items.nomor_surat" role="row" class="odd">
                  <td class="sorting_1">{{items.nomor_surat}}</td>
                  <td>{{items.tgl_permintaan}}</td>
                  <td>{{items.kantor}}</td>
                  <td>{{items.admin}}</td>
                  <td>{{items.keterangan}}</td>
                  <td v-if="items.status === 'Disetujui'">
                    <span data-toggle="tooltip" class="badge bg-green">{{items.status}}</span>
                  </td>
                  <td v-else-if="items.status === 'Dalam Proses'">
                    <span data-toggle="tooltip" class="badge bg-primary">{{items.status}}</span>
                  </td>   
                    <td v-else>
                     <span data-toggle="tooltip" class="badge bg-danger">{{items.status}}</span>
                    </td>
                  <td>{{items.created_at | myDateTime}}</td>
                 
                  <td v-if="items.kantor_id === location" id="no-print" class="center">
                        <span v-if="items.status === 'Disetujui'" data-toggle="tooltip" class="badge bg-success">Sudah Di Setujui</span>
                        <a v-else href="#" @click="validasilModal(items)" title="Validasi Data Permintaan">
                           <i class="fas fa-check"></i>
                        </a>
                  </td>
                  <td v-else id="no-print" class="center">
                       <span data-toggle="tooltip" class="badge bg-infoi">Hanya Pihak Kantor Dituju yang dapat validasi</span>
                       
                  </td>
                  <td id="no-print">
                        <a href="#" @click="detailModal(items)" title="Detail Data Permintaan">
                            <i class="fa fa-eye cyan"></i>
                        </a>
                       <router-link  v-if="$gate.isAdmin() && items.admin_id === user" :to="{name: 'formpermintaanbarang', params: { 
                           nomor_surat: items.nomor_surat,
                            edit_form: true,
                            kantor : items.kantor_id }}"  title="Ubah Data Permintan Barang">
                            <i class="fa fa-edit blue"></i>
                        </router-link>

                        <a href="#" v-if="items.kantor_id === location"  @click="validasilModal(items)" title="Ubah Validasi Data Permintaan">
                            <i class="fas fa-check orange"></i>
                        </a>
                        <a href="#"  v-if="$gate.isAdmin() && items.admin_id === user" @click="deleteRents(items.nomor_surat)" title="Hapus Data Peminjaman">
                            <i class="fa fa-trash red"></i>
                        </a>
                  </td>
                </tr>
                </tbody>
                 <tbody v-else>
                    <td colspan="10"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
        </div>
              <div class="row">
                  <div v-if="items.from != null" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                      Menampilkan {{items.from}} sampai {{items.to}} dari {{items.total}} data
                    </div>
                 </div>
                 <div class="col-sm-12 col-md-7">
                     <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <pagination :data="items" @pagination-change-page="getResults"></pagination>
                     </div>
                     </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
      

        <!-- modal detail -->
        <div class="modal fade" id="detailDataItems" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h4 class="modal-title"  id="detailsItems">Detail Informasi Data Peminjaman Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                       <h2><center><u>Daftar Permintaan Barang</u></center></h2>
                
                  <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 20px">Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>Foto Barang</th>
                    </tr>
                  </thead>
                  <tbody v-if="Object.keys(detail).length != 0">
                    <tr v-for="(detail) in detail" :key="detail.id">
                      <td>{{detail.kode_barang}}</td>
                      <td>{{detail.nama_barang}} - {{detail.merk}}</td>
                      <td>{{detail.kategori}}</td>
                      <td>{{detail.jenis}}</td>
                      <td>{{detail.kelengkapan}}</td>
                      <td>
                          <div v-viewer class="images clearfix">
                            <img :src="getItemsPhoto(detail)" class="image">
                        </div>
                    </td>
                    </tr>
                   </tbody>
                    <tbody v-else>
                    <td colspan="9"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                </table>
                </div>
                <div class="col-md-6">
                  
                </div>
                </div>
            
            </div>
            
            <div class="modal-footer ">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
            </div>
           </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      


      <!-- Modal Edit -->


       <!-- Modal Validasi -->
    <div class="modal fade" id="validasi" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h4 class="modal-title">Validasi Permintaan Barang</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <form action="javascript:void(0)" @submit.prevent="validasi()" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputStatus">Validasi Permintaan Barang</label>
                    <select v-model="form.validasi" name="validasi" id="validasi" class="form-control custom-select" 
                    :class="{ 'is-invalid': form.errors.has('validasi') }" >
                    <option value="">{{ selectedValidasi }}</option>
                    <option v-for="optionValidas in optionValidasi" v-bind:key="optionValidas.validasi" v-bind:value="optionValidas.validasi">
                        {{ optionValidas.validasi }}
                    </option>
                    </select>
                </div>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
              <button type="submit" class="btn btn-success">Simpan Data</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      
    </div>
</template>

<script>

import moment from 'moment';
import Datepicker from 'vuejs-datepicker'
import {id} from 'vuejs-datepicker/dist/locale'
    
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import vueDropzone from "vue2-dropzone";

import Vue from 'vue'
  Vue.use(Viewer,{
      defaultOptions:{
          toolbar: false,
      }
  })
    export default {
         data() {
             
            return {       
                file_bukti: '',    
                editmode: false,
                selectedStatus: 'Semua Status Barang',
                optionStatus:[
                    { status : 'Baik'},
                    { status: 'Perbaikan'},
                    { status: 'Rusak'},
                    { status: 'Hilang'}
                ],
                id: id,
                items: {},
                detail:{},
                location:'',
                user:'',
                tgl_awal: moment().startOf('month').format('D MMMM YYYY'),
                tgl_akhir: moment().endOf('month').format('D MMMM YYYY'),
                def_tgl_awal : moment().startOf('month').format('LL'),
                def_tgl_akhir: moment().endOf('month').format('LL'),
                url_userGuide:'./img/user-guide/',
                selectedValidasi: 'Pilih Persetujuan',
                optionValidasi:[
                    { validasi : 'Disetujui'},
                    { validasi: 'Ditolak'}
                ],
                form: new Form({
                    nomor_surat:'',
                    tgl_permintaan:'',
                    kantor:'',
                    kantor_id:'',
                    admin:'',
                    keteragan:'',
                    status:'',
                    validasi:'',
                }),
                searchITems: '',
                url_foto: './img/items/',

                json_fields: {
                  'Kode Barang': 'kode_barang',
                  'Nama Barang': 'nama_barang',
                  'Kategori Inventaris': 'kategori',
                  'Jenis Barang': 'jenis',
                  'Merk': 'merk',
                  'Status Barang': 'status',
                  'Kelengkapan': 'kelengkapan',
                  'Keterangan Tambahan': 'keterangan',
                },

                  
            }
         },
         DatePickerFormat: 'dd/MM/yyyy',

       
         methods:{
            
            printme(){
              window.print();
            },
            print(){
                this.$htmlToPaper('printArea');
            },
            async fetchData(){
                const response = await axios.get('api/getdataExcel')
                
                return response.data
              
              },
              startDownload(){
                  this.$Progress.start();
              },
              finishDownload(){
                  this.$Progress.finish();
              },
            
            searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
            onFilter(tes,tes2) {
                this.$Progress.start();
                let filter_tgl_awal = tes;
                let filter_tgl_akhir = tes2;
              
                
               axios.get('api/filterPermintaan/' + filter_tgl_awal + '/' +  filter_tgl_akhir)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
               
            },
            onSelected(){
                let tes = this.formatDate(this.tgl_awal);
                let tes2 = this.formatDate2(this.tgl_akhir);
                this.def_tgl_awal = moment(this.tgl_awal).format('LL'),
                this.def_tgl_akhir= moment(this.tgl_akhir).format('LL'),
                this.onFilter(tes,tes2);
            },
            formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                let tanggal = [year, month, day].join('-')
                this.tgl_awal = tanggal
                return tanggal;
                //return [year, month, day].join('-');
            },formatDate2(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                let tanggal = [year, month, day].join('-')
                this.tgl_akhir = tanggal
                return tanggal;
                //return [year, month, day].join('-');
            },
             getResults(page = 1){
                axios.get('api/peminjamanbarang?page=' + page)
                .then(response => {
                    this.items = response.data
                });
            },
            customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.tgl_awal = tanggal
                return tanggal;
            },
            customFormatter2(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.tgl_akhir = tanggal
                return tanggal;
            },    
            loadTypeItems(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataJenisBarang").then(({ data }) => (this.typesItems = data));
                }
            },
            loadCategorys(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataKategoriInventaris").then(({ data }) => (this.categorys = data));
                }
            },
            loadProjects(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getProyek").then(({ data }) => (this.optionsProjects = data));
                }
            },
            loadItems(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/permintaanbarang").then(({ data }) => (this.items = data));
                    this.$Progress.finish();
                }
            },
            loadAdminLocation(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/adminlocation").then(({ data }) => (this.location = data));
                    this.$Progress.finish();
                }
            },
            newItems(){
                this.editmode = false;
                this.form.reset();
                $('#detailItems').modal('show');
            },
            editForm(items){
                 this.$router.push({
                    path: '/formpeminjaman', 
                    params: { nomor_surat: 'items.nomor_surat' }
                });
                 
            },
            validasi(){
                this.$Progress.start();
                let formData = new FormData();
                formData.append('validasi', this.form.validasi);
                formData.append('_method', 'PUT');
                //  for (let key of formData.entries()) {
                //     console.log(key[0] + ', ' + key[1]);
                // }
                axios.post('api/validasiPermintaan/'+ this.form.nomor_surat, formData)
                .then(() => {
                    //success
                    $('#validasi').modal('hide');
                    Swal.fire(
                            'Divalidasi!',
                            'Validasi Permintaan Barang telah berhasil disimpan.',
                            'success'
                        )
                    this.$Progress.finish();
                    Fire.$emit('AfterCreate');
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            detailModal(items){
                axios.get("api/getDataPermintaan/"+items.nomor_surat).then(({ data }) => (this.detail = data)); 
                
                $('#detailDataItems').modal('show'); 
            },
            validasilModal(items){
                $('#validasi').modal('show'); 
                this.form.fill(items);
            },
             getItemsPhoto(detail){
                let foto_barang = this.url_foto+detail.foto_barang ;
                return foto_barang;
            },
            createItems(){
                this.$Progress.start();
                this.form.post("api/barang")
                .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#detailItems').modal('hide'); 
                    toast.fire({
                        type: 'success',
                        title: 'Data Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
            },
            loadUser(){
                if(this.$gate.isAdminorUser()){
                    this.$Progress.start();
                    axios.get("api/userid").then(({ data }) => (this.user = data));
                    this.$Progress.finish();
                }
            },
            deleteRents(nomor_surat){
                Swal.fire({
                    title: 'Apakah Anda Yakin menghapus data permintaan barang dengan nomor surat = ' + nomor_surat + '?',
                    text: "Anda tidak dapat membatalkan tindakan ini!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya hapus!',
                    cancelButtonText: 'Batal'
                    }).then((result) => {
                        // Send request to the server
                        if(result.value){
                          //console.log(result);
                        
                            this.form.delete('api/permintaanbarang/'+nomor_surat).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data Peminjaman Barang berhasil dihapus.',
                            'success'
                            )
                            Fire.$emit('AfterCreate');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                     })
            },
         },
        created() {
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                let query = this.searchITems;
                //console.log(query);
                axios.get('api/findPermintaan?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
            Fire.$on('searching',() => {
                this.$Progress.start();
                let query = this.$parent.search;
                //console.log(query);
                axios.get('api/findPermintaan?q='+ query)
                .then((data) => {
                    this.items = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
           
            this.loadItems();
            this.loadAdminLocation();
            this.loadUser();
            Fire.$on('AfterCreate',() => {
                this.loadItems();
            });
            Fire.$on('AfterFilter',() => {
                this.loadItems();
            });
        },
    }
</script>

<style scoped>
.justify-content-center{
    margin-top: 1.5rem !important;
}
.col-md-6-filter{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:1.5rem !important;
}
.image {
    position: relative;
    height: 200px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin: 20px;
    display: inline-block;
}
.tab {
    position:absolute;left:250px;
}
.tab2 {
    position:absolute;left:200px;
}


</style>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

.center{
    text-align: center;
}
#user-guide{
    height: 85%;
    width: 85%;
}
</style>