<template>
  <div class="container">
    <!-- Content Header (Page header) -->
    <form @submit.prevent="editmode ? updateBorrows():  createBorrows()" enctype="multipart/form-data">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Form Permintaan Barang</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
              <li class="breadcrumb-item active">Form Permintaann Barang</li>
            </ol>
          </div>
        </div>
   
    
     <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Surat Permintaan Barang</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Alur Kerja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <p class="lead mb-0">Alur Permintaan Barang Inventaris</p>
                              <div class="row justify-content-center">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Request-Items-Flow.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                           <div class="col-md-12">
                                 <label>Info : </label><p>Form Inventaris digunakan untuk pengisian data untuk surat Permintaan barang Inventaris</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Request-Items.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Pilih Kantor Cabang Penyimpanan Barang yang dituju dan akan automatis menampilkan data barang apa saja yang tersedia pada kantor cabang tersebut.</p>
                                        <p>2. Pilih Barang Invetaris dari Kantor tujuan yang akan diminta.</p>
                                        <p>3. Isi dengan nomor surat Permintaan barang (akan automatis terisi berdasarkan format referensi surat dengan kategori Permintaan).</p>
                                        <p>4. Pilih tanggal permintaan barang.</p>
                                        <p>5. Isian Keterangan tambahan mengenai Permintaan barang tersebut.</p>
                                        <p>6. Tombol Simpan untuk menyimpan data surat Permintaan barang.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div v-bind:class="{'card card-info' : !editmode, 'card card-warning' :editmode}">
            <div class="card-header">
              <h3 class="card-title" v-show="!editmode">Form Permintaan Barang</h3>
              <h3 class="card-title" v-show="editmode">Form Pengubahan Data Permintaan Barang</h3>
            </div>
            <div class="card-body">
               <div class="form-group">
                    <label for="inputKategori">Pilih Kantor Penyimpanan</label>
                    <select v-model="form.kantor_id" @change="loadItemsAvailable()" class="form-control custom-select" name="kantor_id" id="kantor_id">
                    <option value="">{{selectedOffices}}</option>
                    <option v-for="office in offices" v-bind:key="office.id"  v-bind:value="office.id">
                        {{ office.kantor }}
                    </option>
                    </select>
                </div>
              <div v-show="editmode" class="col-12">
                <label>Data Barang Tersedia</label>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>
                          Aksi
                         
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="itemsRents.length">
                  <tr  v-for="(itemsRents) in itemsRents" :key="itemsRents.kode_barang">
                    <td>{{itemsRents.kode_barang}}</td>
                    <td v-if = itemsRents.merk >
                      {{itemsRents.nama_barang}} - {{itemsRents.merk}}
                    </td>
                    <td v-else>
                        {{itemsRents.nama_barang}} -  Tanpa Merk
                    </td>
                    <td>{{itemsRents.kategori}}</td>
                    <td>{{itemsRents.jenis}}</td>
                    <td>{{itemsRents.kelengkapan}}</td>
                    <td class="center" >
                     <a href="#"  @click="deleteItems(itemsRents.detail_id)" title="Hapus Data Barang Selesai Perbaikan">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  </tbody>
                   <tbody v-else>
                    <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                </table>

            </div>
               <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Data Barang Tersedia</h3>
                        <h5>Kode Barang yang dipilih : {{this.form.barang}}</h5>
                        <input type="hidden" class="form-control"
                        :class="{ 'is-invalid': form.errors.has('barang') }">
                        <has-error :form="form" field="barang"></has-error>
                        <div class="card-tools">
                          <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" @keyup="searchit_child" v-model="searchITems" name="table_search" class="form-control float-right" placeholder="Cari Jenis Barang">

                            <div class="input-group-append">
                              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Kode Barang</th>
                              <th>Nama Barang - Merk</th>
                              <th>Kategori Inventaris Barang</th>
                              <th>Jenis Barang</th>
                              <th>Kelengkapan</th>
                              <th>
                                  Pilih Semua
                                  <input type="checkbox" v-model="selectAll" @click="select">
                              </th>
                            </tr>
                          </thead>
                          <tbody v-if="items.data">
                          <tr  v-for="(items) in items.data" :key="items.kode_barang">
                            <td>{{items.kode_barang}}</td>
                            <td v-if = items.merk >
                              {{items.nama_barang}} - {{items.merk}}
                            </td>
                            <td v-else>
                                {{items.nama_barang}} -  Tanpa Merk
                            </td>
                            <td>{{items.kategori}}</td>
                            <td>{{items.jenis}}</td>
                            <td>{{items.kelengkapan}}</td>
                            <td>
                              <label class="form-checkbox">
                                <input type="checkbox" :value="items.kode_barang" v-model="form.barang">
                                <i class="form-icon"></i>
                              </label>
                            </td>
                          </tr>
                          </tbody>
                          <tbody v-else>
                            <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                        </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>

                <!-- Info Surat -->
            <div class="row">
            <div class="col-md-12">
               <label><u>Informasi Surat </u></label>
                <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <label for="inputName">Nomor Surat</label><span class="red"> (Wajib diisi)</span>
                      <input v-model="form.nomor_surat" type="text" name="nomor_surat " id="nomor_surat" class="form-control"
                      :disabled="editmode"
                      :class="{ 'is-invalid': form.errors.has('nomor_surat') }">
                      <has-error :form="form" field="nomor_surat"></has-error>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div >
                    <label for="inputClientCompany">Tanggal Permintaan</label><span class="red"> (Wajib diisi)</span>
                    <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                    name="date"
                    id="date" v-model="form.tgl_permintaan" inputClass="form-control"></datepicker>
                    </div>
                  </div>
               </div>
               </div>
            </div>
            </div>
            <!-- End Info Surat -->

            <!-- Detail Surat -->
            <div class="row">
              <div class="col-md-12">
                <label><u>Detail Surat Permintaan Barang </u></label>
              <div class="form-group">
                <label for="inputDescription">Keterangan Tambahan Tentang Permintaan Barang</label><span class="black"> (Jika Ada)</span>
                <textarea v-model="form.keterangan" id="inputDescription" class="form-control" rows="2" :class="{ 'is-invalid': form.errors.has('keterangan') }"></textarea>
                <has-error :form="form" field="keterangan"></has-error>
              </div>
             </div>
            </div>
            <!-- End Detail Surat -->
            
            </div>
            <!-- /.card-body -->
            
          </div>
          <!-- /.card -->
        </div>
      </div>

     

      <div class="row">
        <div class="col-12">
          <input type="submit" v-show="!editmode" value="Simpan Data Permintaan Barang" class="btn btn-success float-right">
          <input type="submit" v-show="editmode" value="Simpan Perubahan Data Permintaan Barang" class="btn btn-warning float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->

      </form>
  </div>
</template>

<script>

import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
    export default {
       props: ['nomor_surat','edit_form', 'kantor'],
    
        
        data(){
            return{
              valueNomorSurat : this.nomor_surat,
              valueEditForm: this.edit_form,
              valueKantor: this.kantor,
              editmode: false,
              selectAll: false,
              selectedStatus: 'Semua Kondisi Barang',
              optionStatus:[
                  { status : 'Baik'},
                  { status: 'Perbaikan'},
                  { status: 'Rusak'},
                  { status: 'Hilang'}
              ],
              id: id,
              items: {},
              itemsRents: {},
              selectedOffices: 'Pilih Gudang Kantor',
              offices: {},
              searchITems: '',
              url_userGuide:'./img/user-guide/',
              form: new Form({
                nomor_surat:'',
                tgl_permintaan: new Date(),
                kantor_id: '',
                barang: [],
                keterangan: '',
              }),
             
            }
        },
        methods: {
          searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
          select() {
            this.form.barang = [];
            if (!this.selectAll) {
              for (let i in this.items.data) {
                this.form.barang.push(this.items.data[i].kode_barang);
              }
            }
          },
          customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.form.tgl_permintaan = moment(date).format()
                return tanggal;
          },

           addFile(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                
                if(file['size'] < 2111775 && file['type'] === 'application/pdf'){
                    reader.onloadend = (file) => {
                        this.form.file_bukti = e.target.files[0];
                    }
                    reader.readAsDataURL(file);
                }else{
                  document.getElementById("inputFileBukti").value = "";
                  Swal.fire({
                         type: 'error',
                         title: 'Oops..',
                         text: 'Upload File Anda Terlalu Besar atau Format Tidak Sesuai !',
                     })
                }
            },

          loadNumber(){
              if(this.$gate.isAdminorUser()){
                  this.$Progress.start();
                  axios.get('api/getnomorsurat/permintaan').then(({ data }) => (this.form.nomor_surat = data));
                  this.$Progress.finish();
              }
          },
         
          loadItems(){
                if(this.$gate.isAdminorUser()){
                   
                    axios.get('api/getDataBarangAvailable/'+this.valueKantor).then(({ data }) => (this.items = data));
                  
                }
          },
          loadItemsAvailable(){
                if(this.$gate.isAdminorUser()){
                 
                  let kantor = document.getElementById('kantor_id').value;
                  axios.get('api/getDataBarangAvailable/'+kantor).then(({ data }) => (this.items = data));
                
                   
                }
          },
          loadOffices(){
              if(this.$gate.isAdminorUser()){
                  axios.get("api/getKantor").then(({ data }) => (this.offices = data));
              }
          },
           loadGetDataRequest(){
              if(this.$gate.isAdminorUser()){

                  axios.get("api/getHeaderPermintaan/"+ this.valueNomorSurat ).then(({ data }) => (this.form.fill(data))); 
                
              }

          },
          loadGetItemsRequest(){
              if(this.$gate.isAdminorUser()){

              axios.get("api/getDetailPermintaan/"+ this.valueNomorSurat).then(({ data }) => (this.itemsRents = data)); 
              }
                
          },
          createBorrows(){
              this.$Progress.start();
              this.form.post("api/permintaanbarang")
              .then(() => {
                  Fire.$emit('AfterCreate');
                  toast.fire({
                      icon: 'success',
                      title: 'Data Permintaan Barang berhasil ditambahkan'
                  })
                  this.$Progress.finish();
                   this.$router.push({
                    path: '/riwayatpermintaan'
                });
                 
              })
              .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan. Cek Kembali Form Isian Wajib", "warning");
              });
          },
           updateBorrows(){
                this.$Progress.start();
                this.form.put('api/permintaanbarang/'+ this.form.nomor_surat)
                .then(() => {
                    //success
                    Fire.$emit('AfterCreate');
                    toast.fire({
                        icon: 'success',
                        title: 'Perubahan Data Permintaan Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                    this.$router.push({
                      path: '/riwayatpermintaan'
                  });
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
     
              deleteItems(kode_barang){
                  Swal.fire({
                      title: 'Apakah Anda Yakin?',
                      text: "Anda tidak dapat membatalkan tindakan ini!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Ya hapus!',
                      cancelButtonText: 'Batal'
                      }).then((result) => {
                          // Send request to the server
                        if(result.value){
                          //console.log(result);

                            this.form.delete('api/barangMinta/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data Barang berhasil dihapus dari Permintaan Barang.',
                            'success'
                            )      
                            this.loadGetItemsRequest();               
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                      })
                  },
      },
      created(){
        if( this.valueEditForm === true){
            this.editmode = true
            this.loadGetDataRequest();
            this.loadGetItemsRequest();

            this.loadItems();

          }else{
              this.loadNumber();
          }
        this.loadOffices();
        this.load
        this.loadItemsAvailable();
        Fire.$on('AfterDeleteItem',() => {
            this.loadGetItemsRequest();
            this.loadItems();
            this.loadItemsAvailable();
        });
        Fire.$on('searching-child',() => {
            this.$Progress.start();
            let query = this.searchITems;
            axios.get('api/findBarangAvailable?q='+ query)
            .then((data) => {
                this.items = data;
            })
            .catch(() => {
                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
            })
            this.$Progress.finish();
            
        })
      }
    }
</script>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
.tab {
    position:absolute;left:250px;
}
.form-group {
  border-style : solid;
  border-color: #dee2e6;
  border-width: 2px;
  border-radius: 5px;
}
.center {
    text-align: center;
}

#user-guide{
    height: 85%;
    width: 85%;
}

</style>