<template>
    <div class="container">
    <!-- Content Header (Page header) -->
    <form @submit.prevent="editmode ? updateReturns():  createReturns()">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Form Pengembalian Barang</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
              <li class="breadcrumb-item active">Form Pengembalian Barang</li>
            </ol>
          </div>
        </div>

        <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Surat Pengembalian Barang</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Alur Kerja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <p class="lead mb-0">Alur Pengembalian Barang Inventaris</p>
                              <div class="row justify-content-center">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Return-Items-Flow.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                           <div class="col-md-12">
                                 <label>Info : </label><p>Form Inventaris digunakan untuk pengisian data untuk surat pengembalian barang Inventaris</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Return-Items.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Isi dengan nomor surat pengembalian barang (akan automatis terisi berdasarkan format referensi surat dengan kategori Pengembalian).</p>
                                        <p>2. Pilih Tanggal Pengembalian.</p>
                                        <p>3. Pilih Proyek yang meminjam barang tersebut.</p>
                                        <p>4. Isian Keterangan tambahan mengenai pengembalian barang tersebut.</p>
                                        <p>5. Pilih Pihak Penanggung Jawab pada barang yang akan dikembalikan tersebut. (Jika nama belum tersedia maka harus didaftarkan dulu sebagi pengguna sistem)</p>
                                        <p>6. Pilih Pihak Pengembali Barang pada barang yang akan dikembalikan tersebut. (Jika nama belum tersedia maka harus didaftarkan dulu sebagi pengguna sistem)</p>
                                        <p>7. Pilih Barang Inventaris yang akan dikembalikan.</p>
                                        <p>8. Tombol Simpan untuk menyimpan data surat pengembalian barang dan cetak.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div v-bind:class="{'card card-success' : !editmode, 'card card-warning' :editmode}">
            <div class="card-header">
              <h3 class="card-title" v-show="!editmode">Form Pengembalian Barang</h3>
              <h3 class="card-title" v-show="editmode">Form Pengubahan Data Pengembalian Barang</h3>
            </div>
            <div class="card-body">
            <div class="row">

   <!-- Info Surat -->
            <div class="col-md-12">
               <label><u>Informasi Surat </u></label>
                <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <label for="inputName">Nomor Surat</label><span class="red"> (Wajib diisi)</span>
                      <input v-model="form.nomor_surat" type="text" name="nomor_surat " id="nomor_surat" class="form-control"
                      :disabled="editmode"
                      :class="{ 'is-invalid': form.errors.has('nomor_surat') }">
                      <has-error :form="form" field="nomor_surat"></has-error>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div >
                    <label for="inputClientCompany">Tanggal Pengembalian Barang</label><span class="red"> (Wajib diisi)</span>
                    <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                    name="date"
                    id="date" v-model="form.tgl_pengembalian" inputClass="form-control"></datepicker>
                    </div>
                  </div>
               </div>
               </div>
            </div>

            </div>

            <!-- End Info Surat -->

            <!-- Detail Peminjaman -->
            <div class="row">
              <div class="col-md-12">
                <label><u>Detail Surat Pengembalian Barang </u></label>
                <div class="form-group">
                  <div >
                      <label for="inputStatus" v-show="!editmode">Pilih Proyek</label><span v-show="!editmode" class="red"> (Wajib diisi)</span>
                      <label for="inputStatus"  v-show="editmode">Nama Proyek &nbsp: </label>
                      <label for="" class="tab2"  v-show="editmode">{{valueProyek}}</label><br v-show="editmode">
                      <label for="inputStatus" v-show="editmode">Pilih Proyek</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                      <multiselect v-model="form.proyek_id" :options="optionsProjects" :value="optionsProjects.id" placeholder="Pilih Nama Proyek" label="nama_proyek" track-by="id" >
                        <span slot="noResult">Nama proyek tidak ditemukan. Silahkan ketikkan ulang.</span>
                      </multiselect>
                      <has-error :form="form" field="proyek_id"></has-error>
                  </div>
                 
                  <div>
                      <label for="inputDescription">Keterangan / Info Pengembalian Barang</label><span class="red"> (Wajib diisi)</span>
                      <textarea v-model="form.keterangan" id="inputDescription" class="form-control" rows="4" :class="{ 'is-invalid': form.errors.has('keterangan') }"></textarea>
                      <has-error :form="form" field="keterangan"></has-error>
                  </div>
                </div>
              </div>
            </div>



            
            
           <div class="row">
              <!-- Pihak Terkait -->
            <div class="col-md-12">
                <label><u>Pihak Terkait Pengembalian Barang </u></label>
                <div class="form-group">
                 <div class="row">
                   <div class="col-md-6">
                      <div>
                        <label for="inputProjectLeader" v-show="!editmode">Pihak Penanggung Jawab</label><span  v-show="!editmode" class="red"> (Wajib diisi)</span>
                        <label for="inputStatus"  v-show="editmode">Nama Penangung Jawab &nbsp: </label>
                        <label for="" class="tab"  v-show="editmode">{{valuePenanggungJawab}}</label><br v-show="editmode">
                        <label for="inputStatus" v-show="editmode">Pilih Pihak Penanggung Jawab</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                      <multiselect v-model="form.penanggung_jawab" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Penanggung Jawab" label="name" track-by="id">
                        <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                        </multiselect>
                        <has-error :form="form" field="penanggung_jawab"></has-error>
                      </div>
                    </div>
                     <div class="col-md-6">
                        <div>
                          <label for="inputProjectLeader" v-show="!editmode">Pihak Pengembali Barang</label><span class="red" v-show="!editmode"> (Wajib diisi)</span>
                          <label for="inputStatus"  v-show="editmode">Nama Pengembali &nbsp: </label>
                          <label for="" class="tab"  v-show="editmode">{{valuePengembali}}</label><br v-show="editmode">
                          <label for="inputStatus" v-show="editmode">Pilih Pihak Pilih  Pengembali 
                        Barang</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                        <multiselect v-model="form.pengembali_barang" :valueKeys="form.pengembali_barang" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Pengembali 
                        Barang" label="name" track-by="id">
                          <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                          </multiselect>
                          <has-error :form="form" field="pengembali_barang"></has-error>
                        </div>
                     </div>
                </div>
                </div>
            </div>
            
              <!-- Barang Dipinjam -->
            <div class="col-md-12" v-show="editmode">
              <label>Data Barang Dipinjam</label>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>
                          Aksi
                         
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="itemsReturns.length">
                  <tr  v-for="(itemsReturns) in itemsReturns" :key="itemsReturns.kode_barang">
                    <td>{{itemsReturns.kode_barang}}</td>
                    <td v-if = itemsReturns.merk >
                      {{itemsReturns.nama_barang}} - {{itemsReturns.merk}}
                    </td>
                    <td v-else>
                        {{itemsReturns.nama_barang}} -  Tanpa Merk
                    </td>
                    <td>{{itemsReturns.kategori}}</td>
                    <td>{{itemsReturns.jenis}}</td>
                    <td>{{itemsReturns.kelengkapan}}</td>
                    <td class="center" >
                     <a href="#"  @click="deleteItems(itemsReturns.detail_id)" title="Hapus Data Pengembalian">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  </tbody>
                   <tbody v-else>
                    <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                </table>

            </div>
             <!--End Barang Dipinjam -->
            </div>
            </div>
            <!-- /.card-body -->
            
          </div>
          <!-- /.card -->
        </div>
      </div>

      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Barang dengan Status Dipinjam</h3>
                <h5>Kode Barang yang dipilih : {{this.form.barang}}</h5>
                <input type="hidden" class="form-control"
                :class="{ 'is-invalid': form.errors.has('barang') }">
                <has-error :form="form" field="barang"></has-error>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" @keyup="searchit_child" v-model="searchITems" name="table_search" class="form-control float-right" placeholder="Cari Kode Barang">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>
                          Pilih Semua
                          <input type="checkbox" v-model="selectAll" @click="select">
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="items.data">
                  <tr  v-for="(items) in items.data" :key="items.kode_barang">
                    <td>{{items.kode_barang}}</td>
                    <td v-if = items.merk >
                      {{items.nama_barang}} - {{items.merk}}
                    </td>
                    <td v-else>
                        {{items.nama_barang}} -  Tanpa Merk
                    </td>
                    <td>{{items.kategori}}</td>
                    <td>{{items.jenis}}</td>
                    <td>{{items.kelengkapan}}</td>
                    <td>
                      <label class="form-checkbox">
                        <input type="checkbox" :value="items.kode_barang" v-model="form.barang">
                        <i class="form-icon"></i>
                      </label>
                    </td>
                  </tr>
                  </tbody>
                   <tbody v-else>
                    <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

      <div class="row">
        <div class="col-12">
          <input type="submit" v-show="!editmode" value="Simpan Data Pengembalian" class="btn btn-success float-right">
          <input type="submit" v-show="editmode" value="Simpan Perubahan Data Pengembalian" class="btn btn-warning float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->

      </form>
  </div>
</template>

<script>

import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
    export default {
       props: ['nomor_surat','edit_form','proyek_name', 'penanggungjawab_name', 'pengembali_name'],
    
        
        data(){
            return{
              valueNomorSurat : this.nomor_surat,
              valueEditForm: this.edit_form,
              valueProyek: this.proyek_name,
              valuePenanggungJawab: this.penanggungjawab_name,
              valuePengembali: this.pengembali_name,
              editmode: false,
              selectAll: false,
              id: id,
              items: {},
              itemsReturns: {},
              optionsUsers:[],
              optionsProjects:[],
              searchITems: '',
              proyek:'',
              peminjam:'',
              penanggung_jawab:'',
              url_userGuide:'./img/user-guide/',
              form: new Form({
                nomor_surat: '',
                proyek_id: '',
                keterangan: '',
                tgl_pengembalian: new Date(),
                penanggung_jawab: '',
                pengembali_barang: '',
                barang: [],
              }),
             
            }
        },
        methods: {
          searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
          select() {
            this.form.barang = [];
            if (!this.selectAll) {
              for (let i in this.items.data) {
                this.form.barang.push(this.items.data[i].kode_barang);
              }
            }
          },
          customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.form.tgl_pinjam = date
                return tanggal;
          },

          loadNumber(){
              if(this.$gate.isAdminorUser()){
                  this.$Progress.start();
                  axios.get('api/getnomorsurat/pengembalian').then(({ data }) => (this.form.nomor_surat = data));
                  this.$Progress.finish();
              }
          },

          loadGetDataReturns(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getHeaderPengembalian/"+ this.valueNomorSurat ).then(({ data }) => (this.form.fill(data))); 
                  
                }

          },
          loadGetItemsReturns(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getDetailPengembalian/"+ this.valueNomorSurat).then(({ data }) => (this.itemsReturns = data)); 
                  
                }

          },
          getDataProyek(){
            axios.get("api/proyek/"+this.form.proyek_id).then(({ data }) => (this.proyek = data));
            console.log(this.proyek)
          },
          loadItems(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getItemsBorrowed").then(({ data }) => (this.items = data));
                }
          },
          loadProjects(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getProyek").then(({ data }) => (this.optionsProjects = data));
                }
          },
          loadUsers(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getUser").then(({ data }) => (this.optionsUsers = data));
                }
          },createReturns(){
              this.$Progress.start();
              this.form.post("api/pengembalianbarang")
              .then(() => {
                  Fire.$emit('AfterCreate');
                  toast.fire({
                      icon: 'success',
                      title: 'Data Pengembalian Barang berhasil ditambahkan'
                  })
                  this.$Progress.finish();
                  this.$router.push({
                    path: '/printpengembalian', 
                    params: { nomor_surat: this.form.nomor_surat.value }
                });
              })
              .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan. Cek Kembali Form Isian Wajib", "warning");
              });
          },
           updateReturns(){
                this.$Progress.start();
                this.form.put('api/pengembalianbarang/'+ this.form.nomor_surat)
                .then(() => {
                    //success
                    Fire.$emit('AfterCreate');
                    toast.fire({
                        icon: 'success',
                        title: 'Perubahan Data Pengembalian Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                    this.$router.push({
                      path: '/printpengembalian', 
                      params: { nomor_surat: this.form.nomor_surat.value }
                  });
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
     
              deleteItems(kode_barang){
                  Swal.fire({
                      title: 'Apakah Anda Yakin?',
                      text: "Anda tidak dapat membatalkan tindakan ini!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Ya hapus!',
                      cancelButtonText: 'Batal'
                      }).then((result) => {
                          // Send request to the server
                        if(result.value){
                          //console.log(result);
                        
                            this.form.delete('api/barangPengembalian/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data Barang berhasil dihapus dari pengembalian.',
                            'success'
                            )
                            Fire.$emit('AfterDeleteItem');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                      })
                  },
      },
      created(){
        if( this.valueEditForm === true){
          this.editmode = true
          this.loadGetDataReturns();
          this.loadGetItemsReturns()
          this.getDataProyek();
        }else{
          this.loadNumber();
        }
        this.loadProjects();
        this.loadUsers();
        this.loadItems();
        Fire.$on('AfterDeleteItem',() => {
            this.loadGetItemsReturns()
            this.loadItems();
        });
        Fire.$on('searching-child',() => {
            this.$Progress.start();
            let query = this.searchITems;
            console.log(query);
            axios.get('api/findItemsBorrowed?q='+ query)
            .then((data) => {
                this.items = data;
            })
            .catch(() => {
                Swal.fire("Gagal!"," Terjadi Kesalahan. Pastikan Data Telah Diisi dengan benar.", "warning");
            })
            this.$Progress.finish();
            
        })
      }
    }
</script>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
.tab {
    position:absolute;left:250px;
}

.tab2 {
    position:absolute;left:400px;
}
.form-group {
  border-style : solid;
  border-color: #dee2e6;
  border-width: 2px;
  border-radius: 5px;
}
.center {
    text-align: center;
}
#user-guide{
    height: 85%;
    width: 85%;
}

</style>