<template>
    <div class="container">
    <!-- Content Header (Page header) -->
    <form @submit.prevent="editmode ? updateBorrows():  createBorrows()">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Form Perbaikan Barang</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
              <li class="breadcrumb-item active">Form Perbaikan Barang</li>
            </ol>
          </div>
        </div>
      

       
        <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Surat eErbaikan Barang</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Alur Kerja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                            <p class="lead mb-0">Alur Perbaikan Barang Inventaris</p>
                              <div class="row justify-content-center">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Service-Items-Flow.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                           <div class="col-md-12">
                                 <label>Info : </label><p>Tabel Riwayat Pengiriman digunakan untuk melihat data surat perbaikan barang Inventaris</p>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Service-Items.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Isi dengan nomor surat Perbaikan barang (akan automatis terisi berdasarkan format referensi surat dengan kategori Perbaikan).</p>
                                        <p>2. Pilih Tanggal Perbaikan.</p>
                                        <p>3. Keterangan Tambahan mengenai perbaikan barang.</p>
                                        <p>4. Isian alamat tempat perbaikan barang.</p>
                                        <p>5. Isian Keterangan tambahan mengenai perbaikan barang tersebut.</p>
                                        <p>6. Pilih Pihak Penanggung Jawab pada barang yang akan diperbaiki tersebut. (Jika nama belum tersedia maka harus didaftarkan dulu sebagi pengguna sistem)</p>
                                        <p>7. Pilih Pihak Pembawa Barang pada barang yang akan diperbaiki tersebut. (Jika nama belum tersedia maka harus didaftarkan dulu sebagi pengguna sistem)</p>
                                        <p>8. Pilih Barang Invetaris yang akan diperbaiki.</p>
                                        <p>9. Tombol Simpan untuk menyimpan data surat perbaikan barang dan cetak.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div v-bind:class="{'card card-orange' : !editmode, 'card card-warning' :editmode}">
            <div class="card-header">
              <h3 class="card-title" v-show="!editmode">Form Perbaikan Barang</h3>
              <h3 class="card-title" v-show="editmode">Form Pengubahan Data Perbaikan Barang</h3>
            </div>
            <div class="card-body">
            
            <div class="row">
              <!-- Info Surat -->
            <div class="col-md-12">
               <label><u>Informasi Surat </u></label>
                <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <label for="inputName">Nomor Surat</label><span class="red"> (Wajib diisi)</span>
                      <input v-model="form.nomor_surat" type="text" name="nomor_surat " id="nomor_surat" class="form-control"
                      :disabled="editmode"
                      :class="{ 'is-invalid': form.errors.has('nomor_surat') }">
                      <has-error :form="form" field="nomor_surat"></has-error>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div >
                    <label for="inputClientCompany">Tanggal Perbaikan</label><span class="red"> (Wajib diisi)</span>
                    <datepicker :language="id" :format="customFormatter" :bootstrap-styling="true"
                    name="date"
                    id="date" v-model="form.tgl_surat" inputClass="form-control"></datepicker>
                    </div>
                  </div>
               </div>
               </div>
            </div>

            </div>

            <!-- End Info Surat -->

            <!-- Detail Perbaikan -->
            <div class="row">
              <div class="col-md-12">
                <label><u>Detail Surat Perbaikan Barang </u></label>
                <div class="form-group">
                 
                  <div>
                      <label for="inputDescription">Keterangan Keperluan Perbaikan Barang</label><span class="red"> (Wajib diisi)</span>
                      <textarea v-model="form.keterangan" id="inputDescription" class="form-control" rows="4" :class="{ 'is-invalid': form.errors.has('keterangan') }"></textarea>
                      <has-error :form="form" field="keterangan"></has-error>
                  </div>

                   <div>
                    <label for="inputDescription">Nama Tempat Perbaikan</label><span class="red"> (Wajib diisi)</span>
                    <input v-model="form.nama_tempat_perbaikan" type="text" name="nama_tempat_perbaikan " id="nama_tempat_perbaikan" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('nama_tempat_perbaikan') }">
                    <has-error :form="form" field="nama_tempat_perbaikan"></has-error>
                  </div>
                  
                  <div >
                    <label for="inputDescription">Alamat Tempat Perbaikan</label>
                    <input v-model="form.alamat_perbaikan" type="text" name="alamat_perbaikan " id="alamat_perbaikan" class="form-control"
                    :class="{ 'is-invalid': form.errors.has('alamat_perbaikan') }">
                    <has-error :form="form" field="alamat_perbaikan"></has-error>
                  </div>


                </div>
              </div>
            </div>

            <!--End  Detail Peminjaman -->


           <div class="row">
              <!-- Pihak Terkait -->
            <div class="col-md-12">
                <label><u>Pihak Terkait Perbaikan Barang </u></label>
                <div class="form-group">
                 <div class="row">
                   <div class="col-md-6">
                      <div>
                        <label for="inputProjectLeader" v-show="!editmode">Pihak Penanggung Jawab</label><span  v-show="!editmode" class="red"> (Wajib diisi)</span>
                        <label for="inputStatus"  v-show="editmode">Nama Penangung Jawab &nbsp: </label>
                        <label for="" class="tab"  v-show="editmode">{{valuePenanggungJawab}}</label><br v-show="editmode">
                        <label for="inputStatus" v-show="editmode">Pilih Pihak Penanggung Jawab</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                      <multiselect v-model="form.penanggung_jawab" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Penanggung Jawab" label="name" track-by="id">
                        <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                        </multiselect>
                        <has-error :form="form" field="penanggung_jawab"></has-error>
                      </div>
                    </div>
                     <div class="col-md-6">
                        <div>
                          <label for="inputProjectLeader" v-show="!editmode">Pihak Pembawa Barang</label><span class="red" v-show="!editmode"> (Wajib diisi)</span>
                          <label for="inputStatus"  v-show="editmode">Nama Pembawa Barang &nbsp: </label>
                          <label for="" class="tab"  v-show="editmode">{{valuePembawa}}</label><br v-show="editmode">
                          <label for="inputStatus" v-show="editmode">Pilih Pihak Pembawa Barang</label><span  v-show="editmode" class="red"> (Pilih apabila data ingin diubah)</span><br v-show="editmode">
                        <multiselect v-model="form.pihak_pembawa" :valueKeys="form.pihak_pembawa" :options="optionsUsers" :value="optionsUsers.id" placeholder="Pilih Nama Pembawa Barang" label="name" track-by="id">
                          <span slot="noResult">Nama user tidak ditemukan. Silahkan ketikkan ulang.</span>
                          </multiselect>
                          <has-error :form="form" field="pihak_pembawa"></has-error>
                        </div>
                     </div>
                </div>
                </div>
            </div>
            
              <!-- Barang Dipinjam -->
            <div class="col-md-12" v-show="editmode">
              <label>Data Barang Dipinjam</label>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>
                          Aksi
                         
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="itemsServices.length">
                  <tr  v-for="(itemsServices) in itemsServices" :key="itemsServices.kode_barang">
                    <td>{{itemsServices.kode_barang}}</td>
                    <td v-if = itemsServices.merk >
                      {{itemsServices.nama_barang}} - {{itemsServices.merk}}
                    </td>
                    <td v-else>
                        {{itemsServices.nama_barang}} -  Tanpa Merk
                    </td>
                    <td>{{itemsServices.kategori}}</td>
                    <td>{{itemsServices.jenis}}</td>
                    <td>{{itemsServices.kelengkapan}}</td>
                    <td class="center" >
                     <a href="#"  @click="deleteItems(itemsServices.detail_id)" title="Hapus Data Perbaikan">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                  </tr>
                  </tbody>
                   <tbody v-else>
                    <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                </table>

            </div>
             <!--End Barang Dipinjam -->
            </div>
            </div>
            <!-- /.card-body -->
            
          </div>
          <!-- /.card -->
        </div>
      </div>

      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Barang Tersedia</h3>
                <h5>Kode Barang yang dipilih : {{this.form.barang}}</h5>
                <input type="hidden" class="form-control"
                :class="{ 'is-invalid': form.errors.has('barang') }">
                <has-error :form="form" field="barang"></has-error>
                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" @keyup="searchit_child" v-model="searchITems" name="table_search" class="form-control float-right" placeholder="Cari Jenis Barang">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Kode Barang</th>
                      <th>Nama Barang - Merk</th>
                      <th>Kategori Inventaris Barang</th>
                      <th>Jenis Barang</th>
                      <th>Kelengkapan</th>
                      <th>
                          Pilih Semua
                          <input type="checkbox" v-model="selectAll" @click="select">
                      </th>
                    </tr>
                  </thead>
                  <tbody v-if="items.data">
                  <tr  v-for="(items) in items.data" :key="items.kode_barang">
                    <td>{{items.kode_barang}}</td>
                    <td v-if = items.merk >
                      {{items.nama_barang}} - {{items.merk}}
                    </td>
                    <td v-else>
                        {{items.nama_barang}} -  Tanpa Merk
                    </td>
                    <td>{{items.kategori}}</td>
                    <td>{{items.jenis}}</td>
                    <td>{{items.kelengkapan}}</td>
                    <td>
                      <label class="form-checkbox">
                        <input type="checkbox" :value="items.kode_barang" v-model="form.barang">
                        <i class="form-icon"></i>
                      </label>
                    </td>
                  </tr>
                  </tbody>
                   <tbody v-else>
                    <td colspan="6"><center>Tidak ada data yang ditemukan.</center></td>
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

      <div class="row">
        <div class="col-12">
          <input type="submit" v-show="!editmode" value="Simpan Data Perbaikan" class="btn btn-success float-right">
          <input type="submit" v-show="editmode" value="Simpan Perubahan Data Perbaikan" class="btn btn-warning float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->

      </form>
  </div>
</template>

<script>

import moment from 'moment';
import {id} from 'vuejs-datepicker/dist/locale'
    export default {
       props: ['nomor_surat','edit_form','proyek_name', 'penanggungjawab_name', 'pembawa_name'],
    
        
        data(){
            return{
              valueNomorSurat : this.nomor_surat,
              valueEditForm: this.edit_form,
              valueProyek: this.proyek_name,
              valuePenanggungJawab: this.penanggungjawab_name,
              valuePembawa: this.pembawa_name,
              editmode: false,
              selectAll: false,
              id: id,
              items: {},
              itemsServices: {},
              optionsUsers:[],
              searchITems: '',
              proyek:'',
              pihak_pembawa:'',
              penanggung_jawab:'',
              url_userGuide:'./img/user-guide/',
              form: new Form({
                nomor_surat: '',
                keterangan: '',
                nama_tempat_perbaikan: '',
                alamat_perbaikan: '',
                tgl_surat: new Date(),
                penanggung_jawab: '',
                pihak_pembawa: '',
                barang: [],
              }),
             
            }
        },
        methods: {
          searchit_child: _.debounce(() => {
                Fire.$emit('searching-child');
            },1000),
          select() {
            this.form.barang = [];
            if (!this.selectAll) {
              for (let i in this.items.data) {
                this.form.barang.push(this.items.data[i].kode_barang);
              }
            }
          },
          customFormatter(date) {
                let tanggal =  moment(date).format('D MMMM YYYY');
                this.form.tgl_pinjam = date
                return tanggal;
          },

          loadNumber(){
              if(this.$gate.isAdminorUser()){
                  this.$Progress.start();
                  axios.get('api/getnomorsurat/perbaikan').then(({ data }) => (this.form.nomor_surat = data));
                  this.$Progress.finish();
              }
          },

          loadGetDataRents(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getHeaderPerbaikan/"+ this.valueNomorSurat ).then(({ data }) => (this.form.fill(data))); 
                  
                }

          },
          loadGetItemsServices(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getDetailPerbaikan/"+ this.valueNomorSurat).then(({ data }) => (this.itemsServices = data)); 
                  
                }

          },
          loadItems(){
                if(this.$gate.isAdminorUser()){

                    axios.get("api/getDataBarangRusak").then(({ data }) => (this.items = data));
                }
          },
          loadUsers(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getUser").then(({ data }) => (this.optionsUsers = data));
                }
          },createBorrows(){
              this.$Progress.start();
              this.form.post("api/perbaikanbarang")
              .then(() => {
                  Fire.$emit('AfterCreate');
                  toast.fire({
                      icon: 'success',
                      title: 'Data Perbaikan Barang berhasil ditambahkan'
                  })
                  this.$Progress.finish();
                  this.$router.push({
                    path: '/printperbaikan', 
                    params: { nomor_surat: this.form.nomor_surat.value }
                });
              })
              .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan. Cek Kembali Form Isian Wajib", "warning");
              });
          },
           updateBorrows(){
                this.$Progress.start();
                this.form.put('api/perbaikanbarang/'+ this.form.nomor_surat)
                .then(() => {
                    //success
                    Fire.$emit('AfterCreate');
                    toast.fire({
                        icon: 'success',
                        title: 'Perubahan Data Perbaikan Barang berhasil ditambahkan'
                    })
                    this.$Progress.finish();
                    this.$router.push({
                      path: '/printperbaikan', 
                      params: { nomor_surat: this.form.nomor_surat.value }
                  });
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
     
              deleteItems(kode_barang){
                  Swal.fire({
                      title: 'Apakah Anda Yakin?',
                      text: "Anda tidak dapat membatalkan tindakan ini!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Ya hapus!',
                      cancelButtonText: 'Batal'
                      }).then((result) => {
                          // Send request to the server
                        if(result.value){
                          //console.log(result);
                        
                            this.form.delete('api/barangPerbaikan/'+kode_barang).then(()=>{
                            Swal.fire(
                            'Dihapus!',
                            'Data Barang berhasil dihapus dari perbaikan.',
                            'success'
                            )
                            Fire.$emit('AfterDeleteItem');                        
                            }).catch(()=>{
                                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                            });
                        }                        
                      })
                  },
      },
      created(){
        if( this.valueEditForm === true){
          this.editmode = true
          this.loadGetDataRents();
          this.loadGetItemsServices()
        }else{
          this.loadNumber();
        }
        this.loadUsers();
        this.loadItems();
        Fire.$on('AfterDeleteItem',() => {
            this.loadGetItemsServices()
            this.loadItems();
        });
        Fire.$on('searching-child',() => {
            this.$Progress.start();
            let query = this.searchITems;
            console.log(query);
            axios.get('api/findBarangBroke?q='+ query)
            .then((data) => {
                this.items = data;
            })
            .catch(() => {
                Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
            })
            this.$Progress.finish();
            
        })
      }
    }
</script>
<style scoped>
@import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';
.tab {
    position:absolute;left:250px;
}
.form-group {
  border-style : solid;
  border-color: #dee2e6;
  border-width: 2px;
  border-radius: 5px;
}
.center {
    text-align: center;
}
#user-guide{
    height: 85%;
    width: 85%;
}

</style>