<template>
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Data Pengguna Sistem</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><router-link to="/dashboard">Home</router-link></li>
                <li class="breadcrumb-item active">Data Pengguna Sistem</li>
                </ol>
            </div><!-- /.col -->
         </div><!-- /.row -->

        <!-- User Guide -->
         <div class="row">
             <div class="col-md-12">
                 <div class="card card-info collapse-card">
                    <div class="card-header">
                        <h3 class="card-title">Panduan Penggunaan</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display:none;">
                        <h4 class="mt-2 ">Panduan Penambahan Data Pengguna Sistem</h4>
                        <ul class="nav nav-tabs" id="custom-content-above-tab center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Petunjuk Penggunaan</a>
                        </li>
                        </ul>
                        <div class="tab-custom-content">
                        </div>

                        <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade active show" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                           
                            <div class="col-md-12">
                                <label>Info : </label><p>Data Pengguna Sistem digunakan untuk menyimpan data dari pengguna yang menggunakan sistem.</p>
                               <div class="row">
                                    <div class="col-md-6">
                                         <div v-viewer class="images clearfix">
                                              <img :src="url_userGuide+'User-Guide-Users.png'" class="image" id="user-guide" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="lead mb-0">Form Pengisian</p>
                                        <p>1. Isi dengan nama Lengkap pengguna.</p>
                                        <p>2. Isi dengan data alamat Email pengguna yang valid.</p>
                                        <p>3. Jabatan atau pekerjaan pengguna dalam kantor.</p>
                                        <p>4. Isi nomor telepon atau HP pengguna yang aktif.</p>
                                        <p>5. Pilih Role atau hak akses pengguna pada aplikasi i - Vory.</p>
                                        <p>6. Isi password sementara untuk pengguna baru, yang kemudian diberikan pada pengguna untuk disarankan menggantinya setelah login aplikasi.</p>
                                        <p>7. Tombol Simpan untuk menyimpan data.</p>
                                        <p>8. Tombol Tutup untuk membatalkan pengisian data.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                     
                        </div>

                    </div>
                    <!-- /.card-body -->
                 </div>
             </div>
         </div>
         <!-- Close User Guide -->

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data Pengguna Sistem</h3>
                    <div class="card-tools">
                        <button type="button" id="button" class="btn btn-success"  @click="newModal()" data-toggle="modal" data-target="#addNew">
                        Tambah
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div id="example1_filter" class="dataTables_filter">
                                    <label>Cari Pengguna Sistem :
                                        <input  @keyup="searchit_child" v-model="searchUsers" type="search" class="form-control form-control-xl" 
                                        placeholder="Nama Pengguna Sistem" aria-controls="example1">
                                    </label>
                                </div>
                            </div>
                      </div>
                    <div class="table-responsive">
                    <table id="example1" class="table table-bordered table-striped dataTable" 
                            role="grid" aria-describedby="example1_info">
                    <thead>                  
                        <tr>
                        <th>ID</th>
                          <th>Nama</th>
                          <th>Email</th>
                          <th>Role Pengguna</th>
                          <th>Jabatan</th>
                          <th>Terdaftar pada</th>
                          <th id="no-print">Aksi</th>
                        </tr>
                    </thead>
                    <tbody v-if="users.from !=null">
                        <tr v-for="(user,i) in users.data" :key="user.id">
                        <td>{{i+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role | upText}}</td>
                        <td>{{user.jabatan}}</td>
                        <td>{{user.created_at | myDate}}</td>
                        <td>
                            <a href="#" @click="editModal(user)" title="Ubah Data Pengguna Sistem">
                            <i class="fa fa-edit blue"></i>
                            </a>
                            <a href="#" @click="deleteUser(user.id)" title="Hapus Data Pengguna Sistem">
                                <i class="fa fa-trash red"></i>
                            </a>
                      </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                        <td colspan="7"><center>Tidak ada data yang ditemukan.</center></td>
                    </tbody>
                    </table>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
                </div>
            </div>
        </div>

        <div v-if="!$gate.isAdminorUser()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
      <div class="modal fade" id="addNew" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
             <div v-bind:class="{ 'modal-header bg-primary': !editmode, 'modal-header bg-warning': editmode }">
              <h4 class="modal-title" v-show="!editmode" id="detailsUsers">Tambah Data Pengguna</h4>
              <h4 class="modal-title" v-show="editmode" id="detailsUsers">Update Informasi Data Pengguna</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
             <form @submit.prevent="editmode ? updateUser() : createUser()">
            <div class="modal-body">
               <div class="modal-body">
                     <div class="form-group">
                        <label for="name">Nama Pengguna Sistem</label> 
                        <input v-model="form.name" type="text" name="name"
                            placeholder="Nama Lengkap"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                        <has-error :form="form" field="name"></has-error>
                    </div>

                     <div class="form-group">
                        <label for="email">Alamat Email</label>
                        <input v-model="form.email" type="email" name="email"
                            placeholder="Alamat Email yang valid"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                    
                     <div class="form-group">
                        <label for="jabatan">Jabatan atau Posisi pegawai</label>
                        <input v-model="form.jabatan" type="text" name="jabatan"
                            placeholder="Jabatan atau Posisi pegawai"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('jabatan') }">
                        <has-error :form="form" field="jabatan"></has-error>
                    </div>

                     <div class="form-group">
                        <label for="no_telp">No Telepon</label>
                        <input v-model="form.no_telp" type="number" name="no_telp"
                            placeholder="No Telepon yang dapat dihubungi"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('no_telp') }">
                        <has-error :form="form" field="no_telp"></has-error>
                    </div>

                    <div class="form-group" >
                        <label for="role">Pilih Role Pengguna dalam Sistem</label>
                        <select name="role" v-model="form.role" id="role" class="form-control"  @change="showOffice()"  :class="{ 'is-invalid': form.errors.has('role')}">  
                            <option value="">{{selectedRole}}</option>
                            <option value="admin">Admin</option>
                            <option value="user">Pegawai</option>
                        </select>
                        <has-error :form="form" field="role"></has-error>
                        
                    </div> 

                     <div class="form-group" id="kantorForm">
                        <label for="role">Pilih Kantor Cabang untuk Admin</label>
                       <select v-model="form.kantor_id" class="form-control custom-select" name="kantor" id="kantor" :class="{ 'is-invalid': form.errors.has('kantor_id')}">
                            <option value="">{{selectedOffices}}</option>
                            <option v-for="office in offices" v-bind:key="office.id"  v-bind:value="office.id">
                                {{ office.kantor }}
                            </option>
                            </select>
                        <has-error :form="form" field="role"></has-error>
                    </div> 

                    <div class="form-group">
                        <label for="passwprd">Password Pengguna</label>
                        <input v-model="form.password" type="password" name="password" id="password" placeholder="Isi Password minimal 8 karakter"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>

                </div>
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                <button v-show="editmode" type="submit" class="btn btn-success">Ubah</button>
                <button v-show="!editmode" type="submit" class="btn btn-primary">Simpan</button>
            </div>
             </form>
            </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
</div>
</template>


<script>
    export default {
         data() {
            return {
                editmode: false,
                users : {},
                url_userGuide:'./img/user-guide/',
                form: new Form({
                    id:'',
                    name : '',
                    email: '',  
                    password: '', 
                    role: '',
                    kantor_id: '',
                    jabatan: '',
                    no_telp: '',
                    photo: ''
                }),
                selectedRole: 'Pilih Role',
                selectedOffices: 'Pilih Kantor Cabang',
                offices:{},
                searchUsers: '',
            }
        },
        methods:{
          getResults(page = 1){
              axios.get('api/user?page=' + page)
              .then(response => {
                  this.users = response.data
              });
          },

          searchit_child: _.debounce(() => {
              Fire.$emit('searching-child');
          },1000),

          loadUsers(){
            if(this.$gate.isAdmin()){
              this.$Progress.start();
              axios.get("api/user").then(({ data }) => (this.users = data));
              this.$Progress.finish();
            }
          },

          loadOffices(){
                if(this.$gate.isAdminorUser()){
                    axios.get("api/getDataKantor").then(({ data }) => (this.offices = data));
                }
          },

          showOffice(){
            if(this.form.role == 'admin'){
              $('#kantorForm').show();
            }else{
               $('#kantorForm').hide();
               this.form.kantor= '';
            }
          },

          newModal(){
            this.editmode = false;
            this.form.reset();
            $('#addNew').modal('show');
          },
          createUser(){
            this.$Progress.start();
            this.form.post('api/user')
             .then(() => {
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide') 
                    toast.fire({
                        type: 'success',
                        title: 'Data User berhasil disimpan'
                    })
                this.$Progress.finish();
                })
                .catch(() => {
                     Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                });
          },

          editModal(user){
              this.editmode = true;
              this.form.reset();
              $('#addNew').modal('show');
              this.form.fill(user); 
              if(this.form.role == 'admin'){
                $('#kantorForm').show();
              }else{
                $('#kantorForm').hide();
                this.form.kantor_id= '';
              }
            },

          updateUser(){
              this.$Progress.start();
              this.form.put('api/user/'+ this.form.id)
              .then(() => {
                  //success
                  $('#addNew').modal('hide');
                  Swal.fire(
                          'Diubah!',
                          'Informasi data telah berhasil diubah.',
                          'success'
                      )
                  this.$Progress.finish();
                  Fire.$emit('AfterCreate');
              })
              .catch(()=>{
                  this.$Progress.fail();
              });
          },

          deleteUser(id){
            Swal.fire({
                title: 'Apakah Anda yakin?',
                text: "Anda tidak dapat membatalkan tindakan ini!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya hapus !',
                cancelButtonText: 'Batal'
                }).then((result) => {

                  // Send request to the server
                  if(result.value){
                      this.form.delete('api/user/'+id).then(()=>{
                      Swal.fire(
                      'Dihapus!',
                      'Data User telah berhasil dihapus.',
                      'success'
                      )
                      Fire.$emit('AfterCreate');                        
                      }).catch(()=>{
                          Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                      });
                  }                        
                })
            },
        },
          
        created(){
          // console.log(this.$gate.isAdmin());
            Fire.$on('searching-child',() => {
                this.$Progress.start();
                
                let query = this.searchUsers;
                axios.get('api/findUser?q='+ query)
                .then((data) => {
                    this.users = data.data;
                })
                .catch(() => {
                    Swal.fire("Gagal!"," Terjadi Kesalahan.", "warning");
                })
                this.$Progress.finish();
                
            })
           this.loadUsers();
           this.loadOffices();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });
        }
    }
</script>

<style scoped>
.dataTables_filter{
  margin-top: 20px;
  margin-bottom: 20px;
}

#kantorForm {
  display: none;
}

#user-guide{
    height: 85%;
    width: 85%;
}

</style>